[2018-12-24 08:46] ginoz opened #1 "add download and install apk in android"
add download and install apk in android

[2018-12-24 20:55] gedw99 commented on #1
I presume this is designed for when you don't want to use the Google play store ?

[2019-01-02 05:18] ginoz commented on #1
yes, will support this feature?

[2019-01-06 17:37] larryaasen commented on #1
@ginoz Thanks for opening this issue on upgrader. The 0.4.2 version of this package supports appcast which can be used for Android to specify a newer version of the app. I just updated the package to 0.4.3 with improved README documentation and example code for supporting appcast. I hope this satisfy's your Android requirements. Please let me know if this works for you.
https://pub.dartlang.org/pa

[2019-04-30 07:48] jasonlaw opened #2 "Where to put the UpgradeAlert"
Hi @larryaasen ,

In my app, before the MaterialApp, I have long initializing process, which including the user authentication as well.  During the initializing process, there will be a loading screen display. After the initialization, MaterialApp will be called and home is routed to a Login page. In the Login page, it checks if user has been successfully authenticated (during initialization) so i

[2019-04-30 10:55] larryaasen commented on #2
The UpgradeAlert widget can be placed into any part of the widget tree just like any other widget. It will not begin the upgrade checks until after its first build. If you add the UpgradeAlert widget in the App main page after your Login page, it will not appear on your Login page, and will appear after user has been successfully authenticated.

You could also add it into your Login page if that i

[2019-05-03 03:07] jasonlaw commented on #2
Clear now, thank you!

[2019-05-03 03:08] jasonlaw opened #3 "AndroidX compatible?"
Hi @larryaasen ,
Is this package ready for AndroidX? If not, do you have a plan to do so?

Thanks in advance.

[2019-05-04 14:44] larryaasen commented on #2
I am closing this issue now that the explanation seems to be clear.

[2019-05-04 14:44] #2 closed

[2019-05-04 14:45] larryaasen commented on #3
@jasonlaw That is a good question, and I don't know much about AndroidX and packages at this point. I need to look into this more and determine what needs to be changed to support AndroidX.

[2019-05-05 02:54] jasonlaw commented on #3
Hi @larryaasen ,

I am using this as reference: https://flutter.dev/docs/development/packages-and-plugins/androidx-compatibility

From your package reference, at least I see the package_info is not AndroidX compatible.
![image](https://user-images.githubusercontent.com/107820/57187584-0a127b80-6f24-11e9-93ac-b67871699d1a.png)

This is from the package_info released notes:
![image](https://user-ima

[2019-05-05 12:28] larryaasen commented on #3
@jasonlaw Thanks for pointing that out. I am updating all of the packages in the pubspec.yaml file (actually 5 of them) to pickup the versions that now support AndroidX. I should have this ready soon.

[2019-05-05 21:07] larryaasen commented on #3
I just published version 0.5.0 of this upgrader package at https://pub.dartlang.org/packages/upgrader. I updated dependent packages to AndroidX compatible versions.

@jasonlaw Please let me know if this runs in your AndroidX app.

[2019-05-05 23:13] jasonlaw commented on #3
Hi @larryaasen ,

Thanks for the fast action! I will definitely try this in my app. Thanks again!

[2019-05-05 23:27] jasonlaw opened #4 "Example to use the Appcast for Android"
Hi @larryaasen ,

Do you mind add the Appcast for android implementation into your example? I have no idea how to start with that.

Thanks in advance.

[2019-05-06 00:37] larryaasen commented on #4
@jasonlaw There is an Appcast file in the test folder: test/testappcast.xml

[2019-05-06 00:43] jasonlaw commented on #4
Hi @larryaasen ,

Sorry for not being clear to you. What I mean is how to use the Appcast in the app.
Your 2 examples seems targeting for IOS.

![image](https://user-images.githubusercontent.com/107820/57202704-068dfb80-6fdb-11e9-9186-28e65234da37.png)

[2019-05-06 10:51] larryaasen commented on #4
I see. I will setup an example that better explains how to use appcast on Android.

[2019-05-07 20:21] stevenspiel commented on #3
Hey, great work. I'm excited to use this plugin.

There appears to be a compatibility issue with Flutter stable, which is currently using Dart SDK `2.1.2-dev.0.0.flutter-0a7dcf17eb`. I tried installing 0.5.0 today, but ran into this issue:

[code]

Which Flutter channel are you using?

[2019-05-08 02:39] larryaasen commented on #3
@stevenspiel I published version 0.5.1 of this pack using Dart 2.2.0 and xml 3.4.0 which passed the tests on the Flutter dev branch. Hopefully, this will solve your problem.

[2019-05-10 02:45] stevenspiel commented on #3
Great! Thank you!

[2019-05-11 17:51] bhanuka96 opened #5 "How to use this plugin on Android?"
can to explain with an example with sample application? very confused to understand it for me.

[2019-05-14 01:24] larryaasen commented on #4
@jasonlaw I updated the examples with an Appcast for Android. It is now in version 0.5.1+1 of the package here: 822d52fc53a409e7be2c8085d05628f33f5e52f9

[2019-05-14 01:25] #4 closed

[2019-05-14 01:25] larryaasen commented on #5
@bhanuka96 I updated the examples with an Appcast for Android. It is now in version 0.5.1+1 of the package here: 822d52f. The format of the Appcast file is listed in the README.

[2019-05-14 01:25] #5 closed

[2019-05-14 01:27] larryaasen commented on #1
I updated the examples with an Appcast for Android. It is now in version 0.5.1+1 of the package here: 822d52f. The format of the Appcast file is listed in the README.

[2019-05-14 07:50] jasonlaw commented on #5
thanks!

[2019-06-05 22:04] zinwalin opened #6 "What happened when click Update Now?"
will upgrader change current version and keep latest version in the app?

[2019-06-05 22:28] #6 closed

[2019-06-05 22:35] zinwalin opened #7 "Why call _sendUserToAppStore when it is running on Android?"
[code]

[2019-06-05 22:37] #7 closed

[2019-08-16 10:30] jasonlaw opened #8 "Why Ignore and Later button?"
Hi @larryaasen ,

May I know what is the different between ignore and later button?
Can we hide one of it?

Thanks in advance.

[2019-08-17 20:28] larryaasen commented on #8
The ignore button is to prevent the dialog from displaying again for that app version.
The later button is defined by the calling app when the onLater callback is used.
At this time, there is no way to hide any of the three buttons.

[2019-08-17 21:24] #8 closed

[2019-09-09 03:09] huuhieupham189 opened #9 "Update now not working"
When i choose update now. The package only redirect to app store. But my device is using android.

[2019-09-14 21:46] larryaasen commented on #9
@huuhieupham189 On Android, you must use the Appcast method. Look at the Readme for more details. https://github.com/larryaasen/upgrader#appcast

[2019-09-14 21:46] #9 closed

[2019-10-01 07:19] Anand3777 opened #10 "Version details not showing"
I can see my package, but installed and available version is not displaying.

Faced issues.

1. After than not able view the version details only alert with appname "A new version of xxx is available! Version null is now available-you have null"

[2019-10-23 17:22] drkhannah commented on #10
i get null as well for version number on iOS

[2019-11-03 15:26] wiradikusuma opened #11 "Android in-app updates?"
I'm wondering if this plugin supports (or will support) Android's "native" in-app update (https://developer.android.com/guide/app-bundle/in-app-updates)?

[2019-11-07 03:55] adithyaxx commented on #11
There is [another plugin](https://pub.dev/packages/in_app_update) that does this. However, if this plugin can be enhanced to support native in app updates, then this can be an all in one solution eliminating the need for appcast.

[2019-11-09 16:01] larryaasen commented on #1
@ginoz Can I close this issue?

[2019-11-09 16:04] #3 closed

[2019-11-09 17:22] larryaasen commented on #10
@drkhannah I would like to help you resolve this issue on iOS. What is the Bundle Identifier from your iOS app that was used when you saw the null for version number? Also, what is the Bundle version in the app?

[2019-11-09 17:23] larryaasen commented on #10
@Anand3777 I would like to help you resolve this issue. Did you see this issue on Android on iOS? Are you using an Appcast file?

[2019-11-09 17:29] larryaasen commented on #11
@wiradikusuma This package does not support Android in-app updates, but I'm glad to see Android has recognized the need for this kind of feature. I would be happy to review any PRs that are submitted to support this.

[2019-11-11 23:29] jjvillavicencio opened #12 "Unhandled Exception: FormatException: Not a properly formatted version string"
Hi, how can I solve this error when implementing the plugin, I did tests and the string that cannot be parse is `samsung/hero2ltexx/hero2lte:7.0/NRD90M/G935FXXU2DRB6:user/release-keys`

`I/flutter (20116): Version: samsung/hero2ltexx/hero2lte:7.0/NRD90M/G935FXXU2DRB6:user/release-keys
E/flutter (20116): [ERROR:flutter/lib/ui/ui_dart_state.cc(148)] Unhandled Exception: FormatException: Not a proper

[2019-11-12 01:20] larryaasen commented on #12
I just published an update to upgrader v0.6.0 that should handle this version string. Since that version string is not a valid semantic version, it will be ignored.

[2019-11-12 01:20] #12 closed

[2019-11-12 14:00] drkhannah commented on #10
yes i am using an appcast file that i host on firebase and just point to that url

`<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:sparkle="http://www.andymatuschak.org/xml-namespaces/sparkle">
    <channel>
        <title>My Cleveland Clinic - Appcast</title>
        <item>
            <title>Version 1.15.0</title>
            <description>Cleveland Clinic Patient App</descriptio

[2019-11-12 14:05] drkhannah commented on #10
for iOS the version available and the version installed are both null, (but this may be because the app is not in testflight or the appstore yet)

for Android the version available is null, but the version installed is populating

[2019-11-13 12:02] GerRev opened #13 "Test Flight"
Hi, does this package work for testFlight?

[2019-11-13 12:59] larryaasen commented on #13
I hadn't thought about TestFlight for iOS. Since this package is designed to utilize the App Store for iOS, you could try the Appcast file and see if that works for TestFlight builds.

[2019-11-13 13:41] GerRev commented on #13
Thanks Larryaasen/Upgrader
for getting back to me so quickly!

On Wed, 13 Nov 2019 at 12:59, Larry Aasen <notifications@github.com> wrote:

[2019-11-14 19:32] cytryn opened #14 "How to force updates?"
So I have a few questions here on how the package works.

I want to force updates base on the semantic versioning. So if the app updates from 1.0.0 to 2.0.0, I want to be able to force my users to see the message and update, otherwise just pop the alert with default settings.

But for that I would need the version, what is the best way to do that? Because I don't see any public Futures or methods

[2019-11-14 20:48] cytryn commented on #10
I also have a null on the App Store version for iOS. For now I am just pointing to a random app in the app store. But when I hit `UPDATE NOW` it takes me to the App Store like it should.

But I am able to get the current version.

![image](https://user-images.githubusercontent.com/735750/68894846-fb7bfc80-06dc-11ea-8118-f33ec617d1a5.png)

[2019-11-14 21:17] cytryn opened #15 "RangeError (index): Invalid value"
I am getting the following error message:

`flutter: upgrader: RangeError (index): Invalid value: Valid value range is empty: 0`

Not sure if I am doing something wrong here, the examples are not clear.

[2019-11-17 00:40] larryaasen commented on #10
@drkhannah I ran a test using the example app, changing the iOS Bundle Identifier to org.ccf.patientapp, the Version to 0.9, and the Build to 0.9.2 and ran the app. I see an upgrade alert which seems correct to me showing the version in the app store as 1.0.1869. Note that in the screenshot the app name is Upgrade because that is what the Display Name is in the example.
![Screen Shot 2019-11-16 at

[2019-11-18 02:05] larryaasen commented on #10
@drkhannah I used your Appcast file on a test using the example app on iOS and it worked fine. Appcast file: https://gist.github.com/larryaasen/e11095666fe5250b85668e04c02fdc28
![Screen Shot 2019-11-17 at 9 04 08 PM](https://user-images.githubusercontent.com/325973/69019282-f25d8a80-097d-11ea-857e-265b4e4aa181.png)

Next, I will try the same on Android.

[2019-11-18 03:06] Anand3777 commented on #10
I'm facing this issue on android, Sorry im not using Appcast file, can you tell how to use this?

[2019-11-19 22:56] drkhannah commented on #10
im still getting null, is there maybe some things that i could be missing? what could cause it to be null?

[2019-11-19 23:01] cytryn commented on #10
I also get null and I am not using Appcast and don't plan to do so, is Appcast a requirement?

[2019-11-26 13:17] drkhannah commented on #10
its throwing an HTTP exception in io_client.dart

error = "Connection closed before full header was received", uri = https://itunes.apple.com/lookup?bundleId=org.ccf.patientapp

[2019-11-26 13:18] drkhannah commented on #10
this error causes `final response = await iTunes.lookupByBundleId(_packageInfo.packageName);` to return null

[2019-11-26 13:36] drkhannah commented on #10
for android it is fetching my appcast from "gs://cleveland-clinic-933f9.appspot.com/appcast.xml", but the items in the appcast are null

![Screen Shot 2019-11-26 at 8 36 19 AM](https://user-images.githubusercontent.com/6707443/69638009-dade6b80-1027-11ea-955b-939ec84b15ae.png)

[2019-11-26 14:22] ldemyanenko commented on #15
i have same problem
Runner[654:104490] flutter: upgrader: RangeError (index): Invalid value: Valid value range is empty: 0
Runner[654:104490] flutter: upgrader: RangeError (index): Invalid value: Valid value range is empty: 0

[2019-11-26 20:25] drkhannah commented on #10
ok, it looks like it is only null the first time the alert shows when debugging, the second time it shows it not null, so maybe its just a bug with the `debugAlwaysUpgrade` debug mode

[2019-11-30 13:20] larryaasen commented on #10
@Anand3777 There is information on how to use the Appcast file on the README for this repo. It is necessary on Android to use Appcast with this package.

[2019-11-30 13:23] larryaasen commented on #10
@cytryn Appcast is only a requirement for Android, but can also be used on iOS.

[2019-11-30 13:27] larryaasen commented on #10
@Anand3777 I don't see that null issue like you do. Can you enable logging in the Upgrade widget and include the log here? You can use `debugLogging: true` in the UpgradeAlert and UpgradeCard widgets.

[2019-12-01 13:10] #13 closed

[2019-12-01 13:15] larryaasen commented on #15
@cytryn @ldemyanenko  Are you using iOS or Android? Are you using Appcast? What is the bundle ID you used? Can you post your Appcast file here (if applicable)? What version numbers are you using?

[2019-12-01 16:12] larryaasen commented on #15
I just published an update to this package, v0.7.0, that includes some improved error messaging. Also, I added a command line app to help diagnose iTunes problems. See the [README](https://github.com/larryaasen/upgrader#command-line-app).

[2019-12-01 16:15] larryaasen commented on #10
I just published an update to this package, v0.7.0, that includes some improved error messaging. Also, I added a command line app to help diagnose iTunes problems. See the [README](https://github.com/larryaasen/upgrader#command-line-app).

[2019-12-01 16:21] #1 closed

[2019-12-02 19:16] cytryn commented on #15
- I was using iOS
- I am not using Appcast? Do I need to?
- I am just using a random bundle id from an app in the appstore since my app is not in production yet.

Thanks for the update! I will try that some time soon and let you know if I have any issues

[2019-12-08 15:25] larryaasen commented on #15
@cytryn You do not need to use Appcast on iOS, but you can use it. It is required for Android.

[2019-12-13 10:26] skol101 opened #16 "Doesn't work when app not available on the US App Store"
Any lookup (by id, by app bundle id) returns null if the app isn't available on the US App Store.

Please, fix or suggest a workaround.

[2019-12-15 18:46] larryaasen commented on #16
@skol101 I assume the iTunes API is returning an empty response when the app is not available on the US App Store. In that case, there is no version of the app to upgrade, and thus there should not be a message or alert displayed to the user. Can you explain more about your issue, including the messages from the log, and possibly any screenshots?

[2019-12-15 18:55] skol101 commented on #16
The issue is that the plugin or iTunes Api call doesn't  check whether app is available on other markets. For instance, if I just open https://apps.apple.com/app/id1478293930 in the browser, the App Store will open even when the app isn't available on the US app store.

[2019-12-15 19:33] larryaasen commented on #16
What country codes are valid for the 1478293930 app?

[2019-12-16 08:14] skol101 commented on #16
We've made it available in the US with the recent update, though not in Russia ('ru' I believe).

[2019-12-16 16:57] Adrek opened #17 "How to change the default text?"
First, congratulate them on the application. It works very well.

Is there any way to **change** the default text "**A new version of [app_name] is available! Version [X.X] is now available you have [X.0.0]**" to customText ?. To be able to change it to any language like _buttonTitleIgnore, buttonTitleLater, buttonTitleUpdate, title or prompt_.

[2019-12-17 03:10] larryaasen commented on #16
This package is not designed to handle App Stores outside of US. However, it may not be that difficult to add country support. The URL used by the iTunes class is:
https://itunes.apple.com/lookup?id=1478293930
which default the county to US. When I added the query parameter country=RU,
https://itunes.apple.com/lookup?id=1478293930&country=RU
it returns no results:
[code]

This URL https://itunes.a

[2020-01-17 07:47] NTMS2017 opened #19 "Where is the full example for android and iOS?"
Hi,

Sorry for my English but how to I get my app version from android and iOS. I couldn't find any good example, alse I want to force to update.

I use your example but I am not sure where to put my android app on google palay and iOS app on appstore.

you have:

**For Android:**
[code]

**For iOS:**
[code]

For iOS I think I will replace this **com.google.Maps** to my app but for android how to

[2020-01-17 15:07] NTMS2017 opened #20 "I am stuck how to use this for iOS?"
Hi,

I am trying to use this package for my iOS app which is in App Store. But I am not sure where to start. Is the example file is enough? Or can you post more deatils now not use for iOS. Also I want to force user to update always. how to disable other 2 buttons? Thanks

[2020-01-17 18:03] NTMS2017 commented on #20
I follow your instruction. But I get no result. ???? Than I use UpgradeAlert to get info for iOS? and got error as shown below;

**UpgardeAlert code and error:**

[code]

[code]

**ITunesSearchAPI Example and error**
[code]

**flutter: results: {resultCount: 0, results: []}**

[2020-01-18 19:26] IchordeDionysos commented on #11
@larryaasen It's not that new.
It's almost 2 years old :D

[2020-01-19 15:09] larryaasen commented on #10
I will close this issue if there are no other comments.

[2020-01-19 15:10] larryaasen commented on #15
I will close this issue if there are no more comments.

[2020-01-19 15:15] larryaasen commented on #20
@NTMS2017 When you use the command line app, it will tell you the details of your bundle on the App Store. Can you run it and provide your results here? Here is an example:
`$ dart itunes_lookup.dart bundleid=com.google.Maps`
Also, is your app in the US App Store?

[2020-01-19 15:19] larryaasen commented on #14
@cytryn When you say "force update/upgrade", are you saying you want the user to be prevented from running the app? Lock the user out of the app?

[2020-01-19 21:05] cytryn commented on #14
Exactly... I want to show a message to the user saying that there is a new version fixing a bug or something like that.

[2020-01-19 21:05] cytryn commented on #14
Exactly... I want to show a message to the user saying that there is a new version fixing a bug or something like that.

[2020-01-20 14:06] NTMS2017 commented on #20
@larryaasen I got zsh: command not found: dart after running a command that you posted.

My .zshrc has only this 3 line as shown below. I didn't install dart, it came with flutter. And yes my App is In App Store but not sure if is the US App Store. When I publish my app in app store I configure only Turkey and Cyprus.

[code]

[2020-01-20 14:12] larryaasen commented on #20
@NTMS2017 Try:
`/Users/myusername/flutter/bin/cache/dart-sdk/bin/dart itunes_lookup.dart bundleid=<your_bundle_id>`

[2020-01-20 14:51] NTMS2017 commented on #20
Thanks, but I got error as shown below. My app is not inn US App Store. When I login to AppStoreConnect the link show as https://appstoreconnect.apple.com/WebObjects/iTunesConnect.woa/ra/ng/app/14******20

`Error: Error when reading 'itunes_lookup.dart': No such file or directory`

[2020-01-20 14:56] larryaasen commented on #20
Using Terminal or another command line app, change directory to upgrader and run this:
`/Users/myusername/flutter/bin/cache/dart-sdk/bin/dart bin/itunes_lookup.dart bundleid=<your_bundle_id>`

[2020-01-20 14:59] NTMS2017 commented on #20
ok when I use this link https://itunes.apple.com**/tr/**lookup?bundleId=myappbundle it gets a I get some json file but couldn't see the version. Any idea?

[2020-01-20 15:02] larryaasen commented on #20
Can you provide the results here?

[2020-01-20 15:03] NTMS2017 commented on #20
This /Users/myusername/flutter/bin/cache/dart-sdk/bin/dart bin/itunes_lookup.dart bundleid=<your_bundle_id> also gave me an error:

`Error: Error when reading 'bin/itunes_lookup.dart': No such file or directory `

[2020-01-20 15:08] NTMS2017 commented on #20
Here is the json file: After format the json online I cann see down the json as:

  "version":"2.3.4+34",

[code]

[2020-01-21 10:41] NTMS2017 commented on #20
Any news? Also is upgrader force my app to update from App Store?

[2020-01-21 11:53] topex-psy opened #21 "Not supported in Flutter SDK version 1.13.6, help"
I use the latest version from pub.dev: `upgrader: ^0.10.1`
Then I got this
How to solve it? Thank you

[code]

[2020-01-22 03:45] larryaasen commented on #20
I figured out the problem. This package does not support countries outside of the US very well. Since your app is in the TR country App Store, the response returned empty, so a new version was not found.

I was able to get the included example app to work with these few changes that you can make to get this package to work for you.
1. Open the example workspace file in Xcode: upgrader/example/ios/

[2020-01-22 03:54] larryaasen commented on #14
Unfortunately, this package is not able to provide the version back to the app. You can call `Upgrader().isUpdateAvailable()` directly. Look at the file upgrader_test.dart for an example of this.

[2020-01-22 03:58] larryaasen commented on #21
Since Flutter SDK version 1.13.6 is not a stable version, the latest version of this package does not officially support it. However, if you use version 0.10.0 of this package, it should work with 1.13.6 with the same features.

[2020-01-22 03:58] #21 closed

[2020-01-22 08:02] NTMS2017 commented on #20
@larryaasen thank you very much, I will try today and post the result here.

It will be nice to add country parameters to upgrader/lib/src/upgrader.dart so all Flutter developer can use this plugin.

[code]

[2020-01-22 09:44] NTMS2017 commented on #20
💯 🥇 👍

It couldn't better than this one. Kind Thanks.

 It didn't print as a json format. And because of my country code TR I have few more questions?

- How can I grab the appStoreVersion?
- How can I change the showDialog message? I add my language versions of messages in prompt: section but on top still appears the 'A new version of ....'.

 A new version of Capital Cep is available! Version 2.

[2020-01-22 11:11] NTMS2017 commented on #20
Ok, I try to hack Upgrader and I dint want to see UpgardeAlert only to check if I cann see if isUpdateAvailable() true or false. So if false in build widget I shouldn't run UpgardeAlert.

But still shows the UpgardeAlert dialog box without using UpgardeAlert. So how can I block not to show UpgardeAlert in above code. I place the Future _checkForIOSUpdate() under initState in my app and call from i

[2020-01-22 11:38] NTMS2017 opened #22 "Is not an issue. Check iOS Update before showing UpgradeAlert."
initState I call below code _checkForIOSUpdate() to see if iOS update available. Based on this result I show UpgradeAlert() or not.

**(A)** In Build Widget I run _checkUpdate = true ? UpgradeAlert() : new Container() so if no update user doesn't need to see UpgradeAlert() checking...

**(B)** initState I call _checkForIOSUpdate

[code]

[2020-01-23 14:19] boskokg opened #23 "version solving failed"
The current Flutter SDK version is 1.14.3.

Because xXx depends on upgrader >=0.10.1 which requires Flutter SDK version >=1.12.0 <1.13.0, version solving failed.

[2020-01-26 02:34] larryaasen commented on #23
Try version 0.10.0 which supports Flutter 1.13 and 1.14.

[2020-01-26 02:34] #23 closed

[2020-01-26 02:37] larryaasen commented on #22
You might want to `await` on Upgrader().clearSavedSettings().

Did you have a question?

[2020-01-26 02:39] larryaasen commented on #20
I am sorry this package has not met all of your needs, but I will continue to improve it in the future. Thanks for your feedback.

[2020-01-26 02:39] #20 closed

[2020-01-26 02:39] larryaasen commented on #15
Closing due to lack of activity.

[2020-01-26 02:39] #15 closed

[2020-01-26 02:40] larryaasen commented on #10
Closing due to lack of activity.

[2020-01-26 02:40] #10 closed

[2020-01-26 06:12] boskokg commented on #23
@larryaasen  your comment is a workaround, not a fix in the latest version. I don't understand why this ticket is closed?

[2020-01-28 12:45] larryaasen commented on #23
There is no solution to this problem. The latest version supports Flutter stable which is the version supported by pub.dev. Flutter version 1.14.3 is not on the stable channel/branch, but rather the master or dev branch. You still still use version 0.10.0 of this package with master.

[2020-03-19 23:08] boskokg commented on #23
I have one question. My company uses the deb channel and have no plans to move to stable one.

Is there a plan to support dev channel or I need to find some other plugin?

Note: I see that you have some fix for ios in the latest release, and now I cannot use it in the project...

Thanks

[2020-03-31 09:47] sarinupreti commented on #14
a minimum version feature should be added. so for use under certain version needs to force update the app in order to work. I need this feature as well.

[2020-04-02 10:08] prashantspandey commented on #19
Any answers for this one?

[2020-04-11 15:24] larryaasen commented on #22
Closing due to inactivity.

[2020-04-11 15:24] #22 closed

[2020-04-12 19:34] larryaasen commented on #19
The example folder has a main.dart file that contains an example of using both Android with Appcast, and iOS.

[2020-04-12 19:35] larryaasen commented on #19
Here is the example:
[code]

[2020-04-12 20:00] larryaasen commented on #11
@IchordeDionysos I'm a little behind, I guess. What kind of effort would it take my to add that kind of feature for Android?

[2020-04-15 14:53] IchordeDionysos commented on #11
Here is the documentation for it:
https://developer.android.com/guide/playcore/in-app-updates

You might also utilize the functionality/features exposed by this package if you want to display your UI :)

https://pub.dev/packages/in_app_update

[2020-05-07 07:47] dfdgsdfg opened #26 "Support flutter 1.17.0 stable"
[code]

### Workaround
Add this your `pubspec.yaml`
[code]

By the way, many thanks for the nice work. 👍

[2020-05-07 11:04] larryaasen commented on #26
I see that Flutter stable is now 1.17.0. I can upgrade the SDK version.

[2020-05-07 11:29] larryaasen commented on #26
@dfdgsdfg Thanks for pointing out this issue. I have updated this package on pub.dev to version 0.11.0 which now works with Flutter 1.17.0.
https://pub.dev/packages/upgrader#0110

[2020-05-07 11:29] #26 closed

[2020-05-11 15:08] dazza5000 commented on #11
I did some of the work here:

https://github.com/larryaasen/upgrader/pull/27

[2020-05-16 06:20] xie438305665 opened #28 "Theme.of(context).textTheme.headline6"
pub-cache/hosted/pub.flutter-io.cn/upgrader-0.11.1/lib/src/upgrade_alert.dart:388:46: Error: The getter 'headline6' isn't defined for the class 'TextTheme'.

[2020-05-16 06:25] #28 closed

[2020-05-16 06:26] xie438305665 commented on #28
update  upgrader_alert

[2020-05-23 16:23] hacksics commented on #28
How did you fix this issue? I had to use the version 0.10.2 to get this issue fixed. However I cannot use the latest release

My Flutter version as follows:
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, v1.12.13+hotfix.9, on Mac OS X 10.15.4 19E287)

[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.3)
[✓] Xcode - develop for i

[2020-05-23 17:22] larryaasen commented on #28
@hacksics There are no issues using Flutter: 1.17.0, which is the stable release after v1.12.13+hotfix.9. Are you not able to use 1.17.0?

[2020-06-05 14:16] hivesey commented on #16
Hi,
I would like to express interest in having this plugin working for apps in the store outside the US too. Is that fix underway?

Thanks,

[2020-06-06 13:09] larryaasen commented on #16
@hivesey This package does not support multiple countries for iOS. It only supports the US app store at this time. However, there is a quick patch you could make if you want to support only one country that is not US. To make that patch, fork this repo, and change the following line to the country code of your choice:
https://github.com/larryaasen/upgrader/blob/a22e996f6900ef2ce9eb7310d76cfde0cd2e

[2020-06-08 09:01] kenboi opened #29 "Is there a function in Upgrader to install the app directly after downloading the application via appcast?"
I assumed that when an update is available, it redirects to a link where the user can download the application. But can Upgrader detect if the app finishes downloading and can it be installed via some function in the Upgrader package?

[2020-06-18 05:57] awaik opened #30 "Message localization."
Hi, thank you for the great package!

Do I understand correctly that there is no way to make localization for the message with version number?

[code]
(file upgrader.dart)

If not possible can you please make the property with this String for customization, please?

[2020-06-18 20:36] KevinYan12138 opened #31 "App Name shows null"
I used UpgradeAlert in my app. In the UpgradeAlert, my app name is shown null. How can I resolve this issue?

[2020-06-19 09:44] themobilecoder opened #32 "Upgrader has a hard requirement version of less than 1.18.0"
Hi,

Is this requirement necessary for this package? Just wondering because the version in master and dev channel at the moment is at 1.20.0 now.

[2020-06-19 20:04] KevinYan12138 commented on #31
I found out that package info plugin does not get my app name. It is fixed now. Thank you for making this package!

[2020-06-19 20:04] #31 closed

[2020-06-19 20:07] KevinYan12138 opened #34 "UpdateAlert not working properly"
I used updateAlert as the way the example uses. However, when I download the app version 1.01 from App Store, it still asks me to update even though I have the newest version. Why did that happen?

[2020-06-19 20:41] larryaasen commented on #34
Could that be a semantic versioning problem? What is the bundle ID for the app?

[2020-06-19 20:43] KevinYan12138 commented on #34
com.guanwenyan.organizer

[2020-06-19 20:56] larryaasen commented on #34
When I used com.guanwenyan.organizer in the example app, it works properly. Do you have any other details you can provide to diagnose this problem?

[2020-06-19 21:00] KevinYan12138 commented on #34
Then I do not know what went wrong. It is possible it happens because I published a newer version of the app that is waiting in review? ![image](https://user-images.githubusercontent.com/38302673/85179194-3165fe00-b235-11ea-9026-99e0e739b7e5.jpeg)

[2020-06-19 21:01] KevinYan12138 commented on #34
Or is there a method I can use to check the version of my app manually?

[2020-06-19 21:31] larryaasen commented on #34
The unpublished update in review will not have any impact on this process.

The app store version of your app is: 1.01
The running app version is: 1.0.1
The running app has an older version because 1.0.1 is older than 1.01

I see in that alert message that the app name is null. That is a problem. It should display the `Display Name`, or the `Bundle display name`. Any idea why the name is null?

[2020-06-19 21:35] KevinYan12138 commented on #34
I already solve the app name issue. Are you saying that in order to solve this issue, I should now make version number in the format of 1.01 1.02 etc?

[2020-06-19 21:37] larryaasen commented on #34
Version `1.01` is the same as `1.1`. Normally, after `1.1` you would increment the minor version and use `1.2`.

[2020-06-19 21:42] KevinYan12138 commented on #34
Ok, thanks. I will see if that works! Thanks for your help and your effort of making this package!

[2020-06-20 04:00] larryaasen commented on #32
I removed the restriction for Flutter SDK <1.18.0 and published version 0.11.2 in pub.dev, so try that out.

[2020-06-20 04:17] themobilecoder commented on #32
@larryaasen cheers mate!

[2020-06-20 04:17] #32 closed

[2020-06-22 05:14] awaik commented on #30
This issue solved in the pull request, can you please check
https://github.com/larryaasen/upgrader/pull/35

[2020-06-24 13:38] gokhand opened #36 "Update Alert working but auto updated app still showing the alert on Android"
Hi, I don't know how to avoid this thing.
I checked my flutter.versionName is the new one that I remotely share with XML file.
My new flutter.versionName= 1.1.1
But even the app updated it is still showing existed app as 1.0 .
Is that affected by auto-update that is not change the flutter.versionName?

do you have any idea?

Thanks

[2020-06-24 14:03] gokhand commented on #36
I think my phone has some trouble, there seems no issue related with the upgrader.
I am closing the ticket.

[2020-06-24 14:03] #36 closed

[2020-06-26 11:27] NiyatiKhandelwal-99 commented on #19
I still did not understand that for Android, how can I setup the Appcast. (Reference to the comment in the above stated example- // On Android, setup the Appcast.)

[2020-06-28 14:44] larryaasen commented on #34
Closing this issue as it seems to have been resolved without the need for code changes.

[2020-06-28 14:44] #34 closed

[2020-06-28 14:50] larryaasen commented on #29
For iOS, the UPDATE NOW button takes the user to the App Store where the update process can be started. For Android, the UPDATE NOW button takes the user to the URL located in the Appcast file, which is normally the Play Store URL. Both OS'es handle the case of the downloading and installing of the update. See this section in the README file for more details on the [Android Appcast file](https://p

[2020-06-28 14:55] larryaasen commented on #19
Here is the README example for both Android and iOS: https://pub.dev/packages/upgrader#combined-android--ios-example

[2020-07-03 19:40] larryaasen opened #37 "Looking for new language translations"
I am looking for language translations of message strings for this upgrader package. I already have English and Spanish languages. Looking for many more including Chinese, Japanese, Korean, Russian, French, German, Italian. Please place a comment in this issue with the six translated strings for the language of your choice.

Use this empty form below to get started. Copy this and fill it out:
**La

[2020-07-04 03:29] larryaasen commented on #30
The latest upgrade to this package adds support for localizations and custom messages. Please see [Customizing the display](https://github.com/larryaasen/upgrader#customizing-the-display) section on README for more details. This was added by PR https://github.com/larryaasen/upgrader/pull/38.

[2020-07-04 03:29] #30 closed

[2020-07-04 03:29] larryaasen commented on #17
The latest upgrade to this package adds support for localizations and custom messages. Please see [Customizing the display](https://github.com/larryaasen/upgrader#customizing-the-display) section on README for more details. This was added by PR https://github.com/larryaasen/upgrader/pull/38.

[2020-07-04 03:29] #17 closed

[2020-07-04 21:23] Adrek commented on #17
Thanks, really.

[2020-07-09 20:39] larryaasen commented on #14
@cytryn @sarinupreti There is update to this package that now supports minimum app version in PR https://github.com/larryaasen/upgrader/pull/39. Check it out.

[2020-07-09 20:39] #14 closed

[2020-07-09 20:42] larryaasen commented on #16
@skol101 @hivesey  There is an update to this package that now supports using the country code from the locale, which merged in PR #39. Check it out.

[2020-07-09 20:42] #16 closed

[2020-07-09 21:30] supposedlysam-bb opened #40 "Tag for CriticalIssue should not pop the alert dialog"
When an item includes a critical issue tag in the RSS feed for android the alert dialog should not pop after pressing the "Update Now" button.

If the user presses this button and goes back to the app without upgrading, they are no longer gated by the alert dialog (because it was popped).

Expected:
Alert dialog gates the user if they haven't upgraded.

Actual:
Alert dialog goes away after clickin

[2020-07-09 21:37] supposedlysam-bb opened #41 "_updateVersionInfo doesn't pass in mocked client"
Mocking the rss feed for this package isn't currently possible without alteration to the `upgrader.dart` file. Although you can override the client on the `Upgrader` class, a new instance of the `Appcast` class is created inside of the `_updateVersionInfo` method. Since the `Upgrader`s `client` isn't passed into the `Appcast` constructor, a new `Client` is created and the mocked client is not used

[2020-07-13 16:02] Ayman-Kortobaa commented on #37
First of all, thank you for the great package and I would love to contribute with Arabic translation:
body:نسخة جديدة من {{appName}} متوفرة! النسخة {{currentAppStoreVersion}} متوفرة الآن, أنت تستخدم النسخة {{currentInstalledVersion}} .
ignore button: تجاهل
later button: لاحقاً
update button: حدث الآن
prompt: هل تفضل أن يتم التحديث الآن
title: هل تريد تحديث التطبيق؟

[2020-07-13 23:02] larryaasen commented on #37
Thanks so much for the translation. What is the language code? Also, is this a left or right language?

[2020-07-14 00:39] Ayman-Kortobaa commented on #37
Thank you again and you are welcome, I have edited the original comment to try to keep the issue as clean as possible.
I will delete this comment in 24 hours to achieve the same purpose.

[2020-07-14 03:18] larryaasen commented on #37
@Ayman-Kortobaa I opened PR https://github.com/larryaasen/upgrader/pull/42 to add Arabic language localization. Please review.

[2020-07-15 05:16] chiragmittal19 commented on #11
How about having a transitive dependency on `in_app_update`? Will make life much simpler.

[2020-07-16 10:48] larryaasen commented on #41
@supposedlysam-bb That is a very good suggestion. Update coming soon.

[2020-07-16 11:02] larryaasen commented on #41
https://github.com/larryaasen/upgrader/commit/e6cc93add7affb4b636898166963caf822d4b33a has been committed and released in version 2.2.1.

[2020-07-16 11:02] #41 closed

[2020-07-19 17:57] larryaasen commented on #40
@supposedlysam-bb I created a PR that intends to prevent the dialog and card from being closed when in a blocked state. Please review this PR https://github.com/larryaasen/upgrader/pull/43 for me.

[2020-07-21 01:46] #40 closed

[2020-07-22 10:48] taufiqtab opened #46 "_appStoreVersion & _installedVersion always null at the First Time app running"
when isUpdateAvailable() called at the first time app running,
_appStoreVersion & _installedVersion always null, so the dialog will not show,

in my case, i put UpgradeAlert as a child of scaffold in my Home view,.
when application run, and load the home view, i debug the _appStoreVersion & _installedVersion always null
but, when i switch to other page in my app, and back to Home, the _appStoreVer

[2020-07-24 12:14] larryaasen commented on #46
Does the example app in example/lib/main.dart work for you? Android or iOS? What is your app bundle id?

[2020-07-27 01:53] taufiqtab commented on #46
i got this problem in Android build using Appcast xml and put it on website,. i'll try the example/lib/main.dart soon, and report it here

[2020-07-27 10:01] deandreamatias commented on #37
Language name: Brazilian Portuguese
language code: pt-br
body: Há uma nova versão do {{appName}} disponível! A versão {{currentAppStoreVersion}} já está disponível, você tem a {{currentInstalledVersion}}.
ignore button: IGNORAR
later button: MAIS TARDE
update button: ATUALIZAR
prompt: Você quer atualizar agora?
title: Atualizar aplicação?

[2020-08-04 13:38] Teckosss commented on #37
Language name: French
language code: fr
body: Une nouvelle version de {{appName}} est disponible !  La version {{currentAppStoreVersion}} est maintenant disponible, vous avez la version {{currentInstalledVersion}}.
ignore button: IGNORER
later button: PLUS TARD
update button: MAINTENANT
prompt: Voulez-vous mettre à jour maintenant ?
title: Mettre à jour l'application ?

[2020-08-06 21:43] larryaasen commented on #37
I just updated this package to version 2.4.0 with support for Portuguese and French. Thanks for @deandreamatias  and @Teckosss for your contributions.

[2020-08-09 10:38] mystarhub opened #47 "First timer facing XML Document issue"
Hello there!

I am new to this package and tried installing upgrader 2.4.0 following the tutorial, but got the following error after "Flutter Run":

Compiler message:
../../sdk/flutter/.pub-cache/hosted/pub.dartlang.org/upgrader-2.4.0/lib/src/appcas
t.dart:86:36: Error: Method not found: 'XmlDocument.parse'.
      final document = XmlDocument.parse(xmlString);
                                   ^^

[2020-08-09 12:07] larryaasen commented on #47
Which version of Flutter are you using?

[2020-08-09 12:09] larryaasen commented on #47
Are you sure the command `flutter pub get` completed properly?

[2020-08-09 12:44] mystarhub commented on #47
Yes, I ran the pub get both in VS Code and also in terminal and both were successful.
If it helps, the error comes on the moment i add "import 'package:upgrader/upgrader.dart';" to my dart file.

[2020-08-10 14:27] gustavobrian commented on #47
hi, solutions?

[2020-08-10 22:35] stevenspiel commented on #47
I'm also getting this.

Flutter 1.20.1
Upgrader 2.4.0

[2020-08-10 23:19] stevenspiel opened #48 "currentInstalledVersion is null"
I'm getting an error with version 2.2.0 (I have to use 2.2.0 because >=2.2.1 breaks iOS with `Method not found: 'XmlDocument.parse'.`

Looks like `_installedVersion` is not getting set soon enough, because `_packageInfo.version` returns a string. You can see from the stack trace, but UpgradeAlert calls `Text(Upgrader().message())`, which calls `currentInstalledVersion()`, which is null.

It only h

[2020-08-11 11:40] larryaasen commented on #47
Sorry for this XML issue. I'm sure it is related to this change in 2.4.0:
_Updated the Appcast class to support a newer version of the Xml package._
I'm working on a fix.

[2020-08-11 11:50] larryaasen commented on #47
The example works for me and I am using:

[code]
In my pubspec.lock file, I see version 4.2.0 for xml:
[code]
What version of xml do you have in your pubspec.lock file?

[2020-08-11 12:15] bereanu99 commented on #47
The same issue here
upgrader: ^2.1.0 to    upgrader: ^2.4.0
Flutter version 1.17.0-4.0.pre.9

[2020-08-13 17:09] goleedev commented on #37
Language name: Korean
language code: ko
body: {{appName}}이 새 버전으로 업데이트되었습니다! 최신 버전 {{currentAppStoreVersion}}으로 업그레이드 가능합니다 - 현재 버전 {{currentInstalledVersion}}.
ignore button: 무시
later button: 나중에
update button: 지금 업데이트
prompt: 지금 업데이트를 시작하시겠습니까?
title: 앱을 업데이트하시겠습니까?

[2020-08-14 02:58] larryaasen commented on #37
I just updated this package to version 2.5.0 with support for Korean and Polish. Thanks to @goleedev and @arekminajj for your contributions.

[2020-08-14 13:37] JustLazzah commented on #37
_Language name:_ Italian
_language code:_ it
_body:_ Una nuova versione di {{appName}} è disponibile! La versione {{currentAppStoreVersion}} è ora disponibile, voi avete {{currentInstalledVersion}}.
_ignore button:_ IGNORA
_later button:_ DOPO
_update button:_ AGGIORNA ORA
_prompt:_ Ti piacerebbe aggiornare ora?
_title:_ Aggiornare l'applicazione?

[2020-08-15 12:36] sinanfarokm opened #50 "Initial Setup"
I want to use this lib in my app
could you please tell me the steps?
should I need change anything in xCode runner?
where should i add or change versions?
I recieved this error: **upgrader.ITunesResults.version: RangeError (index): Invalid value: Valid value range is empty: 0**
and this: **upgrader.ITunesResults.trackViewUrl: RangeError (index): Invalid value: Valid value range is empty: 0**
I jus

[2020-08-16 06:36] sinanfarokm commented on #47
Hi dude
Just upgrade your flutter to latest stable version and do a **pub get**, then everything will work

[2020-08-17 10:20] nguyenhuutinh commented on #47
downgrade to 2.1.0 first

[2020-08-19 06:40] krunduev opened #51 "Critical compile error"
After flutter upgrade to 1.20 I get compile error

[code]

It can be fixed by changing
       `final document = XmlDocument.parse(xmlString);`
to
      `final document = parse(xmlString);`

in
<PATH TO FLUTTER>/.pub-cache/hosted/pub.dartlang.org/upgrader-2.5.0/lib/src/appcast.dart

But it not solution, because it package cash.

[code]

[2020-08-19 06:59] krunduev commented on #51
"xml" package version 3.6.1

[2020-08-20 02:59] larryaasen commented on #51
You need to update your xml package to 4.2.0 in order to use upgrader 2.4.0+

[2020-08-20 03:04] larryaasen commented on #50
Are you using version 2.5.0 of upgrader? Is your app published in the US App Store? What is the bundle id of your app?

[2020-08-20 03:06] larryaasen commented on #48
Have you tried using version 2.5.0 of upgrader and xml 4.2.0+?

[2020-08-20 03:09] larryaasen commented on #19
Did you setup the Appcast file as in the example: https://pub.dev/packages/upgrader#appcast-sample-file ?

[2020-08-20 03:10] #29 closed

[2020-08-20 03:12] larryaasen commented on #46
Did it work?

[2020-08-20 03:13] larryaasen commented on #47
Using upgrader 2.5.0 and xml 4.2.0 will work with Flutter 1.20.0.

[2020-08-20 09:58] aamirpadder commented on #4
Hey @larryaasen it's giving an error in the build

Compiler message:
/Users/macpc/Flutter/FlutterSDK/flutter/.pub-cache/hosted/pub.dartlang.org/upgrader-2.5.0/lib/src/appcast.dart:86:36: Error: Method not found: 'XmlDocument.parse'.
      final document = XmlDocument.parse(xmlString);

[2020-08-20 11:39] larryaasen commented on #4
You need to make sure the xml package is updated to 4.2.x. Check your pubspec.lock file and see if the xml package version is 4.2.x. If not, use `flutter pub outdated` and `flutter pub upgrade` to get the compatible version of xml.

[2020-08-21 06:01] dominhgiangbboy opened #53 "Debug Issue"
Hi,
Im currently developing an app using flutter with your library. With debug version the Upgrade Alert still not appear in my app even it printed out build UpgradeAlert in the debug console (my app bundle is already on app store with the version of 1.1.3 and my current xcode build version is 0.0.1). This is my code:

`body: UpgradeAlert(
            debugLogging: true,
            debugDisplayOn

[2020-08-23 13:00] malvinpratama opened #54 "Dismiss on press back button android"
can you add parameter for dismiss on press back button?
canDismissDialog is parameter for tap outside alert dialog but if use android we also can dismiss dialog with back button

[2020-08-24 13:59] apripy opened #55 "Behavior on Android is different from specified in Readme"
According to the Readme:

However, in my application (not using an Appcast) the upgrader popup was shown to Android users, redirecting them to the AppStore. Looking at the code, it seems like the check has been commented:
[code]

[2020-08-25 11:49] larryaasen commented on #55
Thanks for pointing out this issue. I was not able to reproduce the popup on Android because _appStoreVersion and _appStoreListingURL are null, which means isUpdateAvailable() will return false. However, the Android package name was 'com.larryaasen.upgraderexample' in the Android example app, and was not 'com.google.maps' like in the iOS example app. When the Android package name matched a valid b

[2020-08-26 09:30] ug2454 commented on #19
hi,
do i have to put this xml file in my project directory? and change the version manually everytime i build a new version of the app?

[2020-08-26 09:49] sinanfarokm opened #56 "Publish to AppStore"
I used this useful pub, and now i want to publish my app to the appstore,
is there any setting that i should do before publish
for example I think I should add notification to my app id in app store pannel
could you please guide me about this issue?

[2020-08-26 11:59] larryaasen commented on #19
The Appcast file should be located on a publicly available remote server that can be accessed by the app. Then, you update the file manually on the remote server for each app update.

[2020-08-26 12:03] larryaasen commented on #56
Once this package is correctly integrated into your app, you do not need to do anything else for iOS. For Android, if you are using the Appcast file, you will need to make sure it contains the latest app version in the store.
In your question `notification to my app id in app store pannel`, I did not understand that part. Can you explain more about that?

[2020-08-26 12:08] sinanfarokm commented on #56
thanks @larryaasen
I uploaded my app to appstroe, they said that I'm using push notification in my app, but I didn't
the only library I used is uploader, so I think this library needs push notification service to be enabled in app store connect page, is that true?
and this is the message I recieved from AppStore reviewer team.

ITMS-90078: Missing Push Notification Entitlement - Your app appears t

[2020-08-26 12:16] larryaasen commented on #56
The upgrader package does not use push notifications. You can inspect the folder for this package and see the contents to ensure that it does not contain any native code. There may be other Flutter packages included that require the use of notifications. If you post your pubspec.lock file here, we can inspect it.

[2020-08-26 12:20] sinanfarokm commented on #56
Sure
this is the link on [google drive](https://drive.google.com/file/d/1Qd7qHi_2HMQ4pJ4-Xm1fm1bi7Ks0Z8Wn/view?usp=sharing)

[2020-08-27 11:51] larryaasen commented on #55
I just published version 2.5.1 of this package with a fix for this issue. Please try it.

[2020-08-27 11:51] #55 closed

[2020-08-28 19:24] gustavobrian opened #57 "bug help systemName":"iOS","systemVersion":"13.6.1","utsname.machine:":"iPhone11,2", AND systemName":"iOS","systemVersion":"13.6","utsname.machine:":"iPhone12,1",""
MESSAGE:#0      _StringBase.replaceAll (dart:core-patch/string_patch.dart:637)
#1      Upgrader.message (package:upgrader/src/upgrader.dart:248)
#2      Upgrader.checkVersion.<anonymous closure> (package:upgrader/src/upgrader.dart:264)
#3      new Future.delayed.<anonymous closure> (dart:async/future.dart:325)
#4      _rootRun (dart:async/zone.dart:1182)
#5      _CustomZone.run (dart:async/zone.da

[2020-08-29 19:54] larryaasen commented on #57
I don't have enough details to help you. What version of upgrader are you using?

[2020-08-29 20:16] larryaasen commented on #56
I looked at the long list of packages listed in the pubspec.lock file you posted on Google Drive and I don't see any packages that obviously use notifications. With that said, I know that upgrader does not use notifications. I don't see how the upgrade package could have caused this issue: _Missing Push Notification Entitlement_.

Can I close this issue now?

[2020-08-29 20:20] larryaasen commented on #53
@dominhgiangbboy The country code detected was: `VN`. Is that the country code where the app is located in the App Store?

[2020-08-29 20:22] larryaasen commented on #51
@krunduev Did that solve your problem?

[2020-08-29 20:25] larryaasen commented on #47
@bereanu99 @stevenspiel @mystarhub Any more issues?

[2020-08-29 21:25] larryaasen commented on #37
I just updated this package to version 2.6.0 with support for German and Italian. Thanks to @JustLazzah and @NNowakowski  for your contributions.

[2020-09-01 12:25] larryaasen commented on #46
Closing this as a stale issue. If you see it now, please open a new one. Thanks.

[2020-09-01 12:25] #46 closed

[2020-09-01 12:26] larryaasen commented on #47
Closing this as a stale issue. If you see it now, please open a new one. Thanks.

[2020-09-01 12:26] #47 closed

[2020-09-01 12:26] larryaasen commented on #48
Closing this as a stale issue. If you see it now, please open a new one. Thanks.

[2020-09-01 12:26] #48 closed

[2020-09-01 12:26] larryaasen commented on #50
Closing this as a stale issue. If you see it now, please open a new one. Thanks.

[2020-09-01 12:26] #50 closed

[2020-09-03 02:44] larryaasen commented on #54
This PR https://github.com/larryaasen/upgrader/pull/58 was created to address this enhancement.

[2020-09-03 06:21] malvinpratama commented on #37
Language name: Indonesian
language code: id
body: Versi terbaru dari {{appName}} tersedia! Versi terbaru saat ini adalah {{currentAppStoreVersion}} - versi anda saat ini adalah {{currentInstalledVersion}}.
ignore button: ABAIKAN
later button: NANTI
update button: PERBARUI SEKARANG
prompt: Apakah Anda ingin memperbaruinya sekarang?
title: Perbarui Aplikasi?

[2020-09-12 07:23] amandhiraj opened #59 "Parse data?"
![image](https://user-images.githubusercontent.com/40723562/92990087-165b0100-f4a7-11ea-970e-3fc6e7c878b2.png)
How can we parse this data?

I was to check if the bool value of `isUpdateAvailable`

If `true` then open updater card
if `false` open main page

[2020-09-12 15:09] larryaasen commented on #59
@amandhiraj This might work, although I have not tried it.
[code]

[2020-09-12 15:11] #19 closed

[2020-09-12 15:11] #51 closed

[2020-09-16 13:54] mdags commented on #37
Language name: Turkish
language code: tr
body: {{appName}} uygulamanızın yeni bir versiyonu mevcut! Versiyon {{currentAppStoreVersion}} şu anda erişilebilir, mevcut sürümünüz {{currentInstalledVersion}}.
ignore button: YOKSAY
later button: SONRA
update button: ŞİMDİ GÜNCELLE
prompt: Şimdi güncellemek ister misiniz?
title: Uygulamayı Güncelle?

[2020-09-16 14:07] mdags opened #60 "Unhandled Exception: Invalid argument(s) (replacement): Must not be null"
I'm getting this error in debug.

flutter version 1.20.4 channel stable
upgrader version 2.5.0
xml version 4.2.0

--on ios--
flutter: upgrader: build UpgradeAlert
flutter: upgrader: package info packageName: com.kolayyakit.KolayYakit
flutter: upgrader: package info version: 2.6
flutter: upgrader: countryCode: US
flutter: upgrader: build UpgradeAlert
[VERBOSE-2:ui_dart_state.cc(166)] Unhandled Exce

[2020-09-16 14:11] #60 closed

[2020-09-16 14:11] mdags commented on #60
When I changed 2.6.0 version problem was solved.

[2020-09-18 00:34] larryaasen commented on #60
Should I close this since it was fixed in 2.6.0?

[2020-09-19 06:53] Mashood97 opened #61 "Method not found XmlDocument.parseString(xmlString)"
/C:/flutter/.pub-cache/hosted/pub.dartlang.org/upgrader-2.6.0/lib/src/appcast.dart:86:36: Error: Method not found: 'XmlDocument.parse'. final document = XmlDocument.parse(xmlString);

[2020-09-22 12:02] larryaasen commented on #61
Are you using version 4.2.0+ for the xml package?

[2020-09-28 07:29] #61 closed

[2020-10-12 10:19] fehernyul commented on #37
Language name: Magyar
language code: hu
body: Új verzió érhető el az alkalmazásból {{appName}} ! Az elérhető új verzió: {{currentAppStoreVersion}} - a jelenlegi verzió: {{currentInstalledVersion}}.
ignore button: Kihagyom
later button: Később
update button: Frissítem most
prompt: Akarja most frissíteni?
title: FrissÍtés?

[2020-10-16 14:17] CaiXiaoBai opened #65 "I still don't know how to use it on Android"
what is Appcast and how to configure Appcast?
#### Appcast Example
[code]
What is this URL "https://raw.githubusercontent.com/larryaasen/upgrader/master/test/testappcast.xml"?

[code]
Where do I need to configure the XML

[code]
what is the appcastURL?

[2020-10-22 12:10] rovkinmax commented on #37
Language name: Russian
language code: ru
body: Доступна новая версия приложения {{appName}}! Новая версия: {{currentAppStoreVersion}}, текущая версия: {{currentInstalledVersion}}
ignore button: НЕТ
later button: ПОЗЖЕ
update button: ОБНОВИТЬ
prompt: Хотите обновить сейчас?
title: Обновить?

[2020-10-27 05:01] huynhphan89 commented on #37
Language name: Vietnamese
language code: vi
body: Đã có phiên bản mới của {{appName}}. Phiên bản {{currentAppStoreVersion}} đã sẵn sàng, bạn đang dùng {{currentInstalledVersion}}.
ignore button: BỎ QUA
later button: ĐỂ SAU
update button: CẬP NHẬT
prompt: Bạn có muốn cập nhật ứng dụng?
title: Cập nhật ứng dụng?

[2020-10-30 14:54] bobandrew opened #66 "Does it work for Android without appcast?"
I'm sorry, one small question

Does it work for Android without appcast? Will it display popup message if new version is published on Google Play?

[2020-10-31 17:32] zjamshidi opened #67 "The alert is not shown on iOS"
I'm using the latest version and have integrated UpgradeAlert to my home screen:
[code]

when the app version is lower than minAppVersion, the alert is shown and the update is forced.
when the app is higher than minAppVersion, despite I see an update is available in logs, the alert is not shown:

[code]

[2020-11-03 12:34] larryaasen commented on #37
I just updated this package to version 2.6.2 with added support for Vietnamese, Russian, Hungarian, Turkish, and Indonesian. Thanks to @huynhphan89, @rovkinmax, @fehernyul, @mdags, and @malvinpratama for your contributions.

[2020-11-04 10:58] ShengjieGeng opened #68 "Alert style"
Hi, Is there a style of iOS alert?
![image](https://user-images.githubusercontent.com/18364968/98102928-33241b80-1ecf-11eb-8385-fbf7ac7da9a3.png)

[2020-11-06 04:59] larryaasen commented on #68
I just implemented a Cupertino style dialog alert in this package, and publish it in version 2.7.0. There is a new parameter dialogStyle that can be set to UpgradeDialogStyle.cupertino. Download the updated [Flutter package](https://pub.dev/packages/upgrader) and try it out.

[2020-11-06 04:59] #68 closed

[2020-11-13 02:25] boskokg opened #69 "add support for latest device_info package"
I have this error when using latest device_info:

Because upgrader 2.7.0 depends on device_info ^0.4.0+1 and no versions of upgrader match >2.7.0 <3.0.0, upgrader ^2.7.0 requires device_info ^0.4.0+1.

[2020-11-15 04:36] zjamshidi commented on #67
Is this bug fixed in the new versions? If no, do you have any ETA?

[2020-11-16 11:59] larryaasen commented on #67
@zjamshidi I was not able to reproduce this issue you stated above. I did not know the `minAppVersion` you had used, so I used 0.00.20 and the alert was displayed. I tested this by using the `example/main.dart` file and forcing `appStoreVersion` to be `0.00.50`. Do you have any other details I could use to reproduce this issue? Here is my log.
[code]

[2020-11-16 12:05] larryaasen commented on #67
@zjamshidi I published a new version (2.7.1) of this package with extra debug logging to help you with this issue. Check [it out](https://pub.dev/packages/upgrader/changelog).

[2020-11-16 16:15] zjamshidi commented on #67
Thanks @larryaasen, I will check the recent version today or tomorrow and let you know.

[2020-11-16 18:10] zjamshidi commented on #67
The recent version is working fine. It might be a false alarm or bug fixed.

[2020-11-16 18:10] #67 closed

[2020-11-17 02:28] larryaasen commented on #69
Which version of device_info are you using?

[2020-11-17 02:50] larryaasen commented on #69
I just published a new version of this package, version 2.7.2, with a wider version range for package device_info, up to <1.1.0. Hope this works for you.

[2020-11-17 02:53] larryaasen commented on #66
No, this package does not work on Android without using Appcast.

[2020-11-17 02:53] #66 closed

[2020-11-17 02:54] #59 closed

[2020-11-17 02:56] larryaasen commented on #53
Try the latest version 2.7.2 and see if that works.

[2020-11-17 02:56] #53 closed

[2020-11-17 02:56] larryaasen commented on #57
Try version 2.7.2 and see if that works for you.

[2020-11-17 02:56] #57 closed

[2020-11-17 02:57] #56 closed

[2020-11-19 17:31] rickyreza12 opened #70 "I still don't know to use it"
I still don't know to use it after i take it on Upgrade alert, it's just shown "checking"'
here is the isues on my problem
https://stackoverflow.com/questions/64916505/how-to-use-upgrader-plugin-on-flutter

[2020-11-20 10:50] yllew2 opened #71 "Upgrader package to handle both for Google Play & Huawei AppGallery for App Upgrade"
I have been using this upgrader to handle my app upgrade for Android and IOS. It is working great.
However, recently, I have uploaded my App to Huawei App Gallery too.
This package seem to have issue to differentiate the Android source to redirect Google PlayStore or Huawei AppGallery for upgrade. My I know if there is a solution for this situation? How the rest manage the app upgrade situation fo

[2020-11-20 12:28] larryaasen commented on #71
If this was possible it would be using the Appcast file. However, I don't think this is possible. Do you know if there is a way to identify what app store the app was installed from?

[2020-11-20 12:46] larryaasen commented on #70
I put an answer on [StackOverflow](https://stackoverflow.com/a/64929702/1490196), but will also post that answer here.

To use upgrader on Android, you must setup an Appcast file and provide the configuration. Here is an example Appcast file you need to place on a server somewhere, such as GitHub. The Appcast file contains the details about the latest version of the app:

[code]
Here is a build me

[2020-11-20 12:52] yllew2 commented on #71
Thanks for the quick response. I don't think there is a way to identify what App Store from the user device/phone. At the moment, I am using the same flutter build APK and able to load the same APK into both Google Playstore and Huawei AppGallery for user to download. So, in term of code, there is no different. However, when I have new App release upgrade using your upgrader package, it will alway

[2020-11-20 12:59] larryaasen commented on #71
Somehow, the app needs to identify which app store it was installed from. If the Android SDK cannot provide that, then the AndroidManifest.xml can identify the app store by using a specific package name for each store. In the code, it should load a corresponding Appcast file based on the app store.

[2020-11-20 13:05] yllew2 commented on #71
Do you have any example on how the Appcast file work? I would like to understand better.
In the future, I really hope your upgrader package can also handle this scenario for both Google Play and Huawei AppGallery.
Your upgrader package is really a great package.

[2020-11-21 02:21] larryaasen commented on #71
Here is an example Appcast file:
[code]

[2020-11-23 07:29] xylim666 opened #72 "is minAppVersion compulsary?"
If i didn't set minAppVersion, will the updater ask to update?
Currently i didn't pass this and the updater is not working.
Any workaround or is this intended behavior?

[2020-11-23 07:54] dineshsheoran24 opened #73 "Compilation Error in latest version 2.7.3"
../../flutter/.pub-cache/hosted/pub.dartlang.org/upgrader-2.7.3/lib/src/appcast.dart:86:36: Error: Method not found: 'XmlDocument.parse'.
      final document = XmlDocument.parse(xmlString);

[2020-11-23 08:01] #72 closed

[2020-11-23 12:29] larryaasen commented on #72
Setting `minAppVersion` is not required for upgrader to work. Do you have any other details you can provide, such as a log?

[2020-11-23 12:32] larryaasen commented on #73
What version of the `xml` package are you using? My pubspec.lock file has version `4.5.1`.

[2020-11-23 13:02] Ruqoyah549 opened #74 "Ignore and Later Button won't show until the app is hot reloaded"
I added showLater: true ans showIgnore: true, these two buttons won't show once the UpgradeAlert pops up. It only show UPDATE NOW, the two buttons show only when I hot reload. Both on Android and iOS. Using version upgrader: ^2.7.3

[2020-11-23 13:05] Ruqoyah549 commented on #54
Has this been fixed yet

[2020-11-23 13:27] Ruqoyah549 opened #75 "appName not showing on iOS but shows on Android"

[2020-11-24 09:22] xylim666 commented on #72
Sorry i figured my issue already. It's because i clicked anywhere behind the card to dismiss it and it won't pop out again any more. Once i changed daysToAlertAgain to 0 then it appear again.

[2020-11-24 12:10] larryaasen commented on #74
Can you share a portion of your code so it can be reviewed? Also, provide the upgrader log?

[2020-11-24 12:12] larryaasen commented on #75
Can you share a portion of your code so it can be reviewed? Also, can you provide the upgrader log?

[2020-11-27 06:37] sidharathjain2 opened #76 "Upgrade alert shows even if appstore version is less then or equal to current app version"
My app cast version is 1.0.2 and my installed version is 1.0.3 . Even It shows upgrade alert.

[2020-12-01 21:11] MaximeDelhorme commented on #75
I think I have a similar issue when trying to test on iOS.

Here is the code:
final appcastURL = '';
final cfg = AppcastConfiguration(url: appcastURL, supportedOS: ['ios']);

...
child:Scaffold(
          backgroundColor: Colors.transparent,
          body: UpgradeAlert(
            appcastConfig: cfg,
            debugLogging: true,
            debugAlwaysUpgrade: true,
            showIgnore: fa

[2020-12-02 07:38] jonathangull commented on #73
@larryaasen I got same error when using 2.7.3 , my pubspec.lock file shows xml version as 3.6.1. The error went away when I downgraded upgraded package to 2.2.0. Could you please advise how can I use latest version of 2.7.3 ? do I have to add xml package to pub spec.yaml to 4.5.1 (will it break other things?)

[2020-12-02 12:33] larryaasen commented on #73
@jonathangull Is there any reason you cannot upgrade your `xml` package to a later version? Maybe run `flutter pub outdated` and see if that helps you upgrade some of your packages.

[2020-12-04 13:48] jonathangull commented on #73
@larryaasen Thank you I am able to use latest version of upgrader after I upgraded my xml package. Can you unblock me ? I am stuck when using upgrader package, below is relevant code and questions I have -

1. when I don't have debugAlwaysUpgrade = true , alert box never shows. is this mandatory for alert box to show?
2. I set onUpdate: to true, but my log shows following lines

I/flutter ( 3873):

[2020-12-05 14:58] MaximeDelhorme commented on #75
I have the same issue. All app related info are not shown on ios:
<img width="222" alt="Screenshot 2020-12-05 at 15 52 06" src="https://user-images.githubusercontent.com/17178134/101246246-5d593b00-3712-11eb-94b3-a64ea30e3393.png">

Code:
Upgrader().clearSavedSettings();

    // On iOS, the default behavior will be to use the App Store version of
    // the app, so update the Bundle Identifier in

[2020-12-05 15:09] larryaasen commented on #75
@MaximeDelhorme Your AppcastConfiguration is only supporting iOS and not Android. Normally, iOS does not need to use AppcastConfiguration. Did you intend that for Android? Can you post your Appcast file here for review?

[2020-12-05 15:31] MaximeDelhorme commented on #75
@larryaasen I intend to use another library for Android. Therefore I didn't create an appcast. Is that where the problem comes from?

[2020-12-05 15:47] larryaasen commented on #75
@MaximeDelhorme You don't need the Appcast for iOS, normally. Here is the example without an Appcast:
[code]

[2020-12-06 18:34] MaximeDelhorme commented on #75
My app structure is a bit more complex than the example you're providing, but I tried to move the hierarchy at which the UpgradeAlert widget is called. Nevertheless, I always end up with the same error. Any idea where it could originate?

[2020-12-06 18:36] larryaasen commented on #75
@MaximeDelhorme Did you remove the ios appcast?

[2020-12-06 18:37] MaximeDelhorme commented on #75
I did. Current code is:
body: UpgradeAlert(
            debugLogging: false,
            showIgnore: false,
            showLater: false,
            canDismissDialog: false,
            dialogStyle: UpgradeDialogStyle.cupertino,
            minAppVersion: '1.0.0',
           child: ...
)

[2020-12-06 18:43] larryaasen commented on #75
@MaximeDelhorme I'm not sure what's going on here. Can you send the log using the latest code changes?

[2020-12-06 18:45] MaximeDelhorme commented on #75
Here it is:

flutter: upgrader: build UpgradeAlert
flutter: upgrader: package info packageName: ...
flutter: upgrader: package info version: 1.0.0
flutter: upgrader: countryCode: US
flutter: upgrader: build UpgradeAlert
flutter: FormatException: Cannot parse empty string into version
flutter: upgrader: blocked: false
flutter: upgrader: debugDisplayAlways: true
flutter: upgrader: debugDisplayOnce:

[2020-12-12 11:26] MaximeDelhorme commented on #75
Would it help if I give you the list of packages and versions I use?

[2020-12-14 13:17] larryaasen commented on #75
@MaximeDelhorme  If you are using the latest version of upgrader, version 2.7.3, you should see these additional log statements:
[code]
What version are you using?
Your package info packageName is `...` which seems wrong. Did you hide that or is that a problem?

[2020-12-14 22:03] MaximeDelhorme commented on #75
I am using 2.7.3. And indeed I just hide my packageName, it appears normally in the logs.

[2020-12-15 03:24] larryaasen commented on #75
In your log I expect to see the app name like this, but I don't see it:
[code]
That is the same value that should be displayed in the log like this:
[code]
In your log I see this:
[code]
So, the app name is missing from that string, and {{appName}} is in the body template message. That may explain why you do not see the app name in the alert dialog.

Can you send me any more log or details that ma

[2020-12-16 03:35] abdulrojak288 commented on #47
I'm using flutter channel master and upgrader: ^ 2.7.3 has the same problem. do you have a solution?

[2020-12-16 03:45] abdulrojak288 opened #77 "upgrader.ITunesResults.version"
I get an error like the one below, can anyone help me?

flutter: upgrader.ITunesResults.version: RangeError (index): Invalid value: Valid value range is empty: 0
flutter: upgrader.ITunesResults.trackViewUrl: RangeError (index): Invalid value: Valid value range is empty: 0

[2020-12-16 13:45] larryaasen commented on #47
@abdulrojak288 What errors do you see?

[2020-12-17 01:16] larryaasen commented on #77
What package name did you use? What country code?

[2020-12-17 07:05] abdulrojak288 commented on #77
upgrader 2.7.3, +62

[2020-12-18 14:30] larryaasen commented on #76
@sidharathjain2 Can you post your upgrader log here?

[2020-12-18 14:33] larryaasen commented on #77
I think all country codes use characters and you used `+62`. You might want to try the `Command Line App` that is [described here](https://github.com/larryaasen/upgrader#command-line-app) to help better understand your problem with the iTunes Search API.

[2020-12-18 14:34] larryaasen commented on #70
@rickyreza12 Are you still having issues?

[2020-12-18 18:00] rickyreza12 commented on #70
sorry for not tagged my question with solved issue, i can use it now, thank
you

On Fri, Dec 18, 2020, 21:34 Larry Aasen <notifications@github.com> wrote:

[2020-12-18 18:05] #70 closed

[2020-12-18 18:10] larryaasen commented on #73
I see in the log that `hasAlerted: true` which means that it has already been displayed, and will not be displayed again until

[2020-12-18 18:10] #73 closed

[2020-12-18 18:15] larryaasen commented on #73
@jonathangull
1. You do not need to have `debugAlwaysUpgrade` set to `true`. That is just for debugging. It should normally be `false`.
2. You do not need to set onUpdate. Do you need to see that?
3. What does your appcast file look like? Does it have a line like this:
`<enclosure url="https://play.google.com/store/apps/details?id=com.moonwink.treasury" sparkle:version="1.15.0" sparkle:os="android

[2020-12-20 06:45] fzyzcjy commented on #47
This works for me with latest flutter
[code]

[2020-12-20 07:53] MaximeDelhorme commented on #75
Just tested in production. It works like a charm! Strange these problems came up during development.
Thanks!

[2020-12-20 12:47] larryaasen commented on #75
@MaximeDelhorme Glad it worked out.

[2020-12-20 12:48] #75 closed

[2020-12-20 12:49] larryaasen commented on #47
@fzyzcjy Glad it works. Which flutter channel?

[2020-12-20 13:13] fzyzcjy commented on #47
@fzyzcjy stable

[2020-12-29 02:07] abdulrojak288 commented on #77
sorry I misunderstood, country code is indonesia(id)

[2020-12-29 02:57] larryaasen commented on #77
You can try the `command line app` using these instructions: https://github.com/larryaasen/upgrader#command-line-app to see what you get back. There are two components needed to get a response from the iTunes Search, the bundle ID and the country code. Use the `command line app` to determine if iTunes Search is working for this app.

[2020-12-31 08:07] Bharavi26 opened #79 "how to get appStoreVersion from upgrader or how to check dialog is showing or not ?"
i want to stop some background method if there is update dialog, so i need some value for global variable that dialog is showing or not

[2020-12-31 14:49] larryaasen commented on #79
At this time there is no easy way to determine if the dialog is showing. You could fork this repo and add that feature.

[2021-01-04 01:15] 8108905 opened #80 "AVD is good！ MI9 phone have problem！"
Launching lib\main.dart on MI 9 in debug mode...
Running Gradle task 'assembleDebug'...
√ Built build\app\outputs\flutter-apk\app-debug.apk.
Installing build\app\outputs\flutter-apk\app.apk...
Waiting for MI 9 to report its views...
Debug service listening on ws://127.0.0.1:63904/-Bn0ctb66Yc=/ws
Syncing files to device MI 9...
I/flutter (19902): upgrader: build UpgradeAlert
I/flutter (19902): upgr

[2021-01-04 06:25] 8108905 commented on #80
import 'package:flutter/material.dart';
import 'package:upgrader/upgrader.dart';

void main() => runApp(MyApp());

class MyApp extends StatelessWidget {
  MyApp({
    Key key,
  }) : super(key: key);

  @override
  Widget build(BuildContext context) {
    // Only call clearSavedSettings() during testing to reset internal values.
    Upgrader().clearSavedSettings();

    // On Android, setup the Ap

[2021-01-04 06:29] 8108905 commented on #80
I use Android emulator is good;
when i  'flutter build apk' install my Android phone , display show 'Checking..' ,;

I don't know why ,

[2021-01-04 06:35] 8108905 commented on #60
When I changed 2.6.0 version still has problem; i don't know why !  I already changed any version ! but does not fix!

[2021-01-04 21:30] 8108905 commented on #80
Flutter 1.22.5 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 7891006299 (4 weeks ago) • 2020-12-10 11:54:40 -0800
Engine • revision ae90085a84
Tools • Dart 2.10.4

[2021-01-04 22:12] 8108905 opened #81 "I don't know why when I build apk ,is not working!"
The "emulator" is valid;
Only the apk was built, and I tried various methods! It still doesn't work!
Finally, I tried to download your "sample" and still the same problem!

[2021-01-04 22:12] 8108905 commented on #81
Launching lib/main.dart on MI 9 in debug mode...
[!] Your app isn't using AndroidX.
    To avoid potential build failures, you can quickly migrate your app by following the steps on https://goo.gl/CP92wY .
Running Gradle task 'assembleDebug'...
✓ Built build/app/outputs/flutter-apk/app-debug.apk.
Installing build/app/outputs/flutter-apk/app.apk...
Waiting for MI 9 to report its views...
Debug serv

[2021-01-07 06:11] chg2015 opened #82 "FlutterAppUpgradePlugin.kt: (62, 54): Only safe (?.) or non-null asserted (!!.) calls are allowed on a nullable receiver of type File?"
FlutterAppUpgradePlugin.kt: (62, 54): Only safe (?.) or non-null asserted (!!.) calls are allowed on a nullable receiver of type File?

[2021-01-08 02:03] larryaasen commented on #82
Sorry, I don't understand.

[2021-01-08 04:03] larryaasen commented on #81
I think the problem is related to the languageCode in class `UpgraderMessages()`. Can you look at the value for messages.languageCode and see what that contains? It should be set to `en` or the locale language code.

[2021-01-08 04:06] larryaasen commented on #80
This may be related to the problem mentioned in https://github.com/larryaasen/upgrader/issues/81. Please take a look at my comments there.

[2021-01-08 07:02] DennisMuchiri commented on #28
This is not a solution

[2021-01-08 07:02] DennisMuchiri commented on #28
@larryaasen Facing the same issue

[2021-01-08 12:13] larryaasen commented on #28
@DennisMuchiri What version of Flutter are you using? What version of upgrader are you using? What error message are you seeing?

[2021-01-10 19:26] reshuashish commented on #77
I getting same error
version and name of app is not visible on the alert box.
The example app is working fine.

`
{
 "resultCount":1,
 "results": [
{"isGameCenterEnabled":false,
"screenshotUrls":["https://is3-ssl.mzstatic.com/image/thumb/Purple114/v4/c5/28/63/c5286333-8cad-7abf-0ad7-3a2c6e16700b/tns.wvxlxmnk.png/392x696bb.png",
"https://is4-ssl.mzstatic.com/image/thumb/PurpleSource124/v4/05/29/b2/

[2021-01-10 21:15] 8108905 commented on #81
I try do    upgrader: ^2.8.0 ; then copy 'https://github.com/larryaasen/upgrader/blob/master/example/lib/main.dart' , still some problem , AVD is good; when I ' flutter build apk ' install to my phone , still some problem!

[2021-01-10 21:36] larryaasen commented on #77
@reshuashish I noticed that your screenshot has a title of `Please Update!`, but your debug log shows `showDialog title: Update App?`. It seems like the log does not match the screenshot. Can you share your code that displays the UpgradeAlert?

[2021-01-10 22:03] larryaasen commented on #77
@reshuashish I just published version `2.8.1` of upgrader with improved debug logging. Please try that to help better understand this problem.

[2021-01-10 22:17] larryaasen commented on #81
@8108905 Can you share the latest debug log with the languageCode?

[2021-01-11 04:28] 8108905 commented on #81
sorry, I do not know! How to use languageCode to check the latest debug log?

First step: download  'https://github.com/larryaasen/upgrader ';
Second step:  run 'upgrader/example/lib/main.dart';
Third step : run Android emulator is good !
Fourth step:'flutter build apk';
Fifth step: install my phone ,just show checking ! no any Alert!
Sixth step: I turn on the developer mode on my phone, connect t

[2021-01-11 12:32] larryaasen commented on #81
There should be a line in the debug log that shows the language code like this:

`upgrader: languageCode: en`

Can you share that line?

Also, I have updated this package again to include more debug logging to help better understand this problem. Please try version `2.8.1` this time. If you can share all of your upgrader log again that would be helpful.

[2021-01-11 17:21] reshuashish commented on #77
<img width="466" alt="Screenshot 2021-01-11 at 10 42 03 PM" src="https://user-images.githubusercontent.com/59829280/104215515-de68c800-545e-11eb-9c49-c1814719dfe3.png">

![Simulator Screen Shot - iPhone 12 Pro Max - 2021-01-11 at 22 49 56](https://user-images.githubusercontent.com/59829280/104215874-66e76880-545f-11eb-8978-19749da6a44a.png)

flutter: upgrader: build UpgradeAlert
flutter: upgrader:

[2021-01-11 18:44] 8108905 commented on #81
finally, I understand! My phone language is zh'; when I change my phone language to English,everything is back to normal
Please add zh language support ！
thank you very much for your help！

[2021-01-12 03:45] larryaasen commented on #81
I just published version 2.8.2 with a fix for this problem. It now defaults to 'en' (English) when it detects an unknown language code.  Thanks for working with me to resolve this.
If you would like to submit a translation for `zh` please add the strings to this issue https://github.com/larryaasen/upgrader/issues/37, and I will incorporate it into the package.

[2021-01-12 03:45] #81 closed

[2021-01-12 03:47] larryaasen commented on #80
I just published version 2.8.2 with a fix for this problem. It now defaults to 'en' (English) when it detects an unknown language code.

[2021-01-12 03:48] #65 closed

[2021-01-12 03:51] larryaasen commented on #77
I just published version 2.8.2 with a fix for a language code problem. It now defaults to 'en' (English) when it detects an unknown language code. This may resolve your issue. Please try this version, and if it is not resolved, please share your debug log.

[2021-01-12 08:43] reshuashish commented on #77
flutter: upgrader: package info appName: null
flutter: upgrader: package info version: 1.1.0
flutter: upgrader: blocked: false
flutter: upgrader: debugDisplayAlways: false
flutter: upgrader: debugDisplayOnce: false
flutter: upgrader: hasAlerted: false
flutter: upgrader: appStoreVersion: null
flutter: upgrader: installedVersion: null
flutter: upgrader: minAppVersion: null
flutter: upgrader: isUpdat

[2021-01-12 12:47] larryaasen commented on #77
In this case I think the issue is with PackageInfo. In file [upgrader.dart line 152](https://github.com/larryaasen/upgrader/blob/8d60bb219e3565927cc71f20928aa9e4e526fa84/lib/src/upgrader.dart#L152) it makes a call to get the PackageInfo from the platform as you see here:
[code]
Then, it prints to the debug log the app name:
[code]
In your log I see that appName is null:
[code]
So, that makes me th

[2021-01-12 13:15] reshuashish commented on #77
<img width="1388" alt="Screenshot 2021-01-12 at 6 44 11 PM" src="https://user-images.githubusercontent.com/59829280/104318987-373f6b80-5506-11eb-9ad0-b31998b68bc2.png">

[2021-01-12 18:14] 8108905 commented on #80
Think you!

[2021-01-12 18:14] #80 closed

[2021-01-13 12:39] larryaasen commented on #77
This is a static string that is only used when initialize was not called. That is handled internally so you don't call it.
[code]

[2021-01-15 12:00] MojtabaTavakkoli opened #83 "How to use for another market except App Store or Google Play?"
Is there any way to use this package for non-app-store markets?

[2021-01-17 14:20] larryaasen commented on #83
Yes, use the Appcast feature.
https://github.com/larryaasen/upgrader#appcast

[2021-01-19 07:40] mmocrafttec commented on #37
Language name: Filipino
language code: fil
body: May bagong bersyon ang {{appName}} na pwede nang magamit! Ang bersyong {{currentAppStoreVersion}} ay pwede nang magamit. Ikaw ay kasalukuyang gumagamit ng bersyong {{currentInstalledVersion}}.
ignore button: Huwag Pansinin
later button: Mamaya
update button: I-update na ngayon
prompt: Gusto mo bang i-update ito ngayon?
title: I-update ang app?

Than

[2021-01-29 00:51] 8108905 commented on #37
**Language name: Chinese**
*language code*: zh
*body*: {{appName}}新版本已经发布！版本{{currentAppStoreVersion}}现已可用-本地版本{{currentInstalledVersion}}。
*ignore button*: 忽略
*later button*: 稍后提醒
*update button*: 立即更新
*prompt*: 你想现在更新它？
*title*: 更新应用程序？

[2021-01-29 00:54] 8108905 opened #84 "Can you change xml format to json format api？"
Since the mysql database cannot store xml, a complicated conversion is required!
Thinks！

[2021-01-29 04:02] larryaasen commented on #84
The [Appcast](https://github.com/larryaasen/upgrader#appcast) file format is based on the one defined by [Sparkle](https://github.com/sparkle-project/Sparkle), which [does not support JSON](https://github.com/sparkle-project/Sparkle/issues/1080).

[2021-01-29 04:58] 8108905 commented on #84
Sorry! I just read the Appcast document carefully, it is better

[2021-01-29 04:58] #84 closed

[2021-02-06 12:23] MojtabaTavakkoli commented on #83
Thanks for your response. Since I've got no experience in RSS files, is it possible for you to explain a little bit about the RSS you provided here? [https://raw.githubusercontent.com/larryaasen/upgrader/master/test/testappcast.xml](url)

I tried it in various ways like changing the versions of xml or rss but nothing happened. Should I add the application package name somewhere in that file?

Any

[2021-02-07 04:35] NTMS2017 opened #85 "Country Code initialisation?"
How can I initialise Country Code?

I did as   **Upgrader().countryCode = "tr";** and my question if this is the correct version of country code usage?

In page initialisation (void initState() )I check if Platform.isIOS. If iOS use Future _checkForIOSUpdate() async to check if new version available. And I build my messages using _buildIOSUpdate().

Again is this way of coding is correct?

**My fu

[2021-02-07 07:11] MojtabaTavakkoli commented on #85
As comes from your main question, if you want to change alert dialog language you have to do it like so:

`UpgradeAlert(messages: UpgraderMessages(code: 'es'));`

the above was a simple sample code in the documents here: https://github.com/larryaasen/upgrader#language-localization

and specific for your case it should be look like this:

[2021-02-07 07:31] MojtabaTavakkoli commented on #37
I really Thank you for your time and GREAT work here on this package. I'm glad to add **Persian**  language translation below:

**Language name: Persian**
language code: fa
body: نسخه‌ی جدیدی از {{appname}} موجود است! نسخه‌ی {{currentAppStoreVersion}} در دسترس است ولی شما همچنان از نسخه‌ی {{currentInstalledVersion}} استفاده می‌کنید.
ignore button: ردکردن
later button: بعدا
update button: بروزرسانی

[2021-02-07 07:40] MojtabaTavakkoli opened #86 "How to add the list of 'new version features' in the dialog?"
Is it possible to add the list of new features released in the next update?  Something like the image below:
![39094673-64c6fc40-462b-11e8-9ec2-76deef24e73e](https://user-images.githubusercontent.com/18093612/107140002-7067d180-6934-11eb-92e8-723a56be729c.png)

I've tried using the <description> tag in the RSS file and the appCast feature but I guess there is no receiver for it in the package or a

[2021-02-07 09:13] NTMS2017 commented on #85
Thanks for info. And sorry for my English. I am trying to understand how to connect Turkish App Store? It wasn’t my intention to ask the diolag alert language.

Is it possible to use below code to access Turkish App Store?

My app in Turkish App Store and Plugin default is US.

`Upgrader().countryCode = "tr";`

[2021-02-07 12:28] MojtabaTavakkoli commented on #85
Aha now I see. It's all fine.
I had the same exact issue and its already answered here: [https://github.com/larryaasen/upgrader/issues/83](url)
Take a look.

[2021-02-07 12:29] MojtabaTavakkoli commented on #85
Aha now I see. It's all fine.
I had the same exact issue and its already answered here: https://github.com/larryaasen/upgrader/issues/83
Take a look.

[2021-02-07 13:43] NTMS2017 commented on #85
Thanks for the info. But #83 is abot
“ another market except App Store or Google Play”!!!

My question was Turkish App Store.

[2021-02-07 14:09] MojtabaTavakkoli commented on #85
Yes I totally understand. Use that approach and it will solve your problem.
The AppCast is your answer.

[2021-02-07 15:28] NTMS2017 commented on #85
Thanks.

Without using appcast (for ios) can I use below code and check or access the app version in Turkish App Store?

`Upgrader().countryCode = "tr";`

[2021-02-07 15:42] MojtabaTavakkoli commented on #85
Well you better wait for the owner of the package to answer this. They usually respond in 2 days.

[2021-02-07 15:46] NTMS2017 commented on #85
Thanks 👍🙏
I will wait.

[2021-02-09 11:24] ehsnaskri commented on #12
I am still getting this error.

[2021-02-10 04:23] larryaasen commented on #85
This is from the [README](https://github.com/larryaasen/upgrader#ios-country-code) and I think it will solve your problem.

## iOS Country Code
When your app is not in the iOS `US` App Store, which is the default, you must use the `countryCode` parameter mentioned above. The upgrader package does not know which country app store to use because it is not provided by Apple. It assumes
the app is in

[2021-02-10 04:30] larryaasen commented on #86
Including the release notes would be a nice enhancement. I have no plans to add that any time soon.

[2021-02-11 07:03] ueman opened #88 "Update this library to Darts null safety"
The next stable release of Flutter is using most probably Darts new null safety feature.
Thus this library should be migrated.

Please see the following links for further information:
https://dart.dev/null-safety/migration-guide
https://medium.com/flutter/announcing-dart-null-safety-beta-4491da22077a

[2021-02-11 11:20] NTMS2017 commented on #88
👍🙏👏🏻

[2021-02-15 16:38] BartusZak opened #89 "Error: No named parameter with the name 'nullOk'"
I'm trying to use this package for my app. Its probably problem related to my `flutter` version with `null safety` support.

[code]

[code]

[code]

[2021-02-18 01:54] larryaasen commented on #89
There will be a null safety version of this package available soon that should resolve this issue. It will let you know when it is available.

[2021-02-18 01:55] larryaasen commented on #88
There will be a null safety version of this package available soon that should resolve this issue. It will let you know when it is available.

[2021-02-18 02:05] larryaasen commented on #69
Closing this due to inactivity.

[2021-02-18 02:05] #69 closed

[2021-02-18 02:05] larryaasen commented on #71
Closing this due to inactivity.

[2021-02-18 02:05] #71 closed

[2021-02-18 02:05] larryaasen commented on #74
Closing this due to inactivity.

[2021-02-18 02:05] #74 closed

[2021-02-18 02:06] larryaasen commented on #76
Closing this due to inactivity.

[2021-02-18 02:06] #76 closed

[2021-02-18 02:07] larryaasen commented on #77
Closing this due to inactivity.

[2021-02-18 02:07] #77 closed

[2021-02-18 02:08] larryaasen commented on #82
Closing this due to inactivity.

[2021-02-18 02:08] #82 closed

[2021-02-18 05:25] zjamshidi commented on #89
I upgraded the flutter and now my project fails to build:

[code]

What should I do?

[2021-02-18 12:54] larryaasen commented on #89
This package works on stable right now, and other channels without using null safety. There will be a null safety version of this package available soon that should resolve this issue. It will let you know when it is available.

[2021-02-19 06:09] zjamshidi commented on #89
Thanks @larryaasen
Switching to the stable channel solved the build issue for now

[2021-02-22 16:14] swarupbhanjachowdhury commented on #88
@larryaasen thank you for this plugin, you saved me today

[2021-02-23 01:22] nhingo-312 commented on #75
@larryaasen Hi, I've got the same issue but the appName still shows in message while the version number does not, the logcat shows no error and this issue only happens for every first time I run the app. Is it an error?

[2021-02-25 10:42] fnicastri commented on #11
Any plan on this one?

[2021-02-26 16:31] elioDeMarinis opened #90 "appcast for iOS and Android"
First of all, many thanks for your library. I'd ask you if it could be possible to use the appcast file both for Android and iOS in order to manage the app versioning from a unique file without using the Bundle Identifier. If it is possible, could give me an example? Thanks in advance.

[2021-03-02 13:35] larryaasen commented on #89
Just published a null safety version of this package as a prerelease. Check it out https://pub.dev/packages/upgrader/versions.

[2021-03-02 13:35] larryaasen commented on #88
Just published a null safety version of this package as a prerelease. Check it out https://pub.dev/packages/upgrader/versions.

[2021-03-04 12:24] #89 closed

[2021-03-05 09:02] dangbh1002 opened #91 "Flutter 2.0 Error: No named parameter with the name 'nullOk'"
I upgrade to flutter 2.0.1 and it have this issue:

<img width="1240" alt="Screenshot 2021-03-05 at 16 01 31" src="https://user-images.githubusercontent.com/37328524/110092325-0f64d980-7dcc-11eb-8e8b-0a893e2afec8.png">

[2021-03-05 09:17] #91 closed

[2021-03-05 09:34] dangbh1002 opened #92 "3.0.0-nullsafety.2 conflict package"
I can't run `flutter pub get` because of conflict package:

`
Because upgrader >=3.0.0-nullsafety.2 depends on url_launcher ^6.0.2 and pubspecFile depends on url_launcher ^5.7.10, upgrader >=3.0.0-nullsafety.2 is forbidden.
So, because pubspecFile depends on upgrader 3.0.0-nullsafety.2, version solving failed.
`

[2021-03-05 12:25] larryaasen commented on #92
Can you remove the version number from url_launcher line in your pubspec.yaml file and see if it resolves?
`  url_launcher:
`
Then if it does, grab the version number for url_launcher from the pubspec.lock file and use that in your pubspec.yaml file.

[2021-03-06 13:11] NTMS2017 opened #93 "upgrader not working with Flutter 2.0"
After clean install flutter 2.0 the upgrade plugin is gives an error while running the app.
First I use upgrader: ^2.8.2 and got an error than I update the plugin to .0.0-nullsafety.2 and I got plugin installation error.

**upgrader: ^2.8.2 running app Error:**
[code]

**upgrader: ^3.0.0-nullsafety.2 plugin install error:**
[code]

**flutter doctor -v:**
[code]

[2021-03-06 14:47] larryaasen commented on #93
Since vakiflarbank_cep depends on package_info ^0.4.3+4 and upgrader >=3.0.0-nullsafety.2 depends on package_info ^2.0.0, you need to upgrade your version of package_info to the null safety version. Maybe vakiflarbank_cep has a null safety version now.

[2021-03-08 08:14] danearg opened #94 "upgrader unable to detect update"
The debug shows that there are no available updates even though my pubspec version is lower than the minimum app version that I set in the dart and XML.

dart:

final appcastURL = 'https://raw.githubusercontent.com/jeejaykim/apispa/jeejaykim-test/test.xml';
final cfg = AppcastConfiguration(url: appcastURL, supportedOS: ['android']);

return Scaffold(
        body: UpgradeAlert(
            dialogS

[2021-03-08 12:48] larryaasen commented on #94
I see that the installedVersion is null and I don't see any logs for package info which is logged immediately after initialization. Is there more log that was not attached here?

[2021-03-08 13:53] Vikasosian opened #95 "can we hide & show buttons using appcast xml file parameter"
Hi, this plugin very useful to me. but I want to show & hide 'Ignore' & 'Later' buttons using appcast xml file parameter. Because when some time needs to allow users to use the app without update & sometimes need to update forcefully. so I want to handle this using appcast xml. thanks in advance.

[2021-03-08 18:53] danearg commented on #94
I'm sorry for the late reply but here is my updated debug log.

I/flutter ( 4729): upgrader: package info packageName: com.example.stackoverflow
I/flutter ( 4729): upgrader: package info appName: test
I/flutter ( 4729): upgrader: package info version: 110.00.05
I/flutter ( 4729): upgrader: blocked: true
I/flutter ( 4729): upgrader: debugDisplayAlways: false
I/flutter ( 4729): upgrader: debugDispla

[2021-03-09 02:43] larryaasen commented on #95
In your Appcast XML file use `sparkle:criticalUpdate` like this to disable the Ignore and Later buttons.
[code]

[2021-03-09 03:03] larryaasen commented on #94
I don't see this line in the log so I don't think it is using your appcast.
`upgrader: appcast is available for this platform`
Try placing a breakpoint in this method to determine why it is not using your appcast:
`_isAppcastThisPlatform()`

[2021-03-09 13:28] Vikasosian commented on #95
@larryaasen thank you so much, its working.

[2021-03-10 07:17] danearg commented on #94
I/flutter ( 7546): upgrader: appcast best item version: 200.0.0
I/flutter ( 7546): upgrader: appcast item count: 4
I/flutter ( 7546): upgrader: shouldDisplayUpgrade: false
I/flutter ( 7546): upgrader: isUpdateAvailable: false
I/flutter ( 7546): upgrader: minAppVersion: 120.0.0
I/flutter ( 7546): upgrader: installedVersion: null
I/flutter ( 7546): upgrader: appStoreVersion: null
I/flutter ( 7546):

[2021-03-10 12:21] #95 closed

[2021-03-15 11:43] larryaasen commented on #88
Just release version 3.0.0 of this package with full support for null safety.

[2021-03-15 11:43] #88 closed

[2021-03-15 11:46] larryaasen commented on #90
Did you try an appcast file?

[2021-03-15 17:08] larryaasen commented on #37
I just updated this package to version 3.1.0 with added language translations for Filipino and Persian. Thanks to @mmocrafttec and @MojtabaTavakkoli for your contributions.

[2021-03-17 12:09] andreadelfante commented on #11
Hi guys, I think this plugin should definitely dismiss appcast in favor of Android In-App update

[2021-03-21 10:20] Purus commented on #37
Language name: Tamil
language code: ta
body: {{appName}}-ன் புதிய பதிப்பு {{currentAppStoreVersion}} இப்போது கிடைக்கிறது! உங்களிடம் {{currentInstalledVersion}} உள்ளது.
ignore button: புறக்கணி
later button: பிறகு
update button: இப்பொழுது புதுப்பிக்கவும்
prompt: இப்போது புதுப்பிக்க விரும்புகிறீர்களா?
title: செயலியை புதுப்பிக்கவா?

[2021-03-24 08:57] Nitingadhiya opened #96 "dio ^3.0.10 and upgrader ^3.1.0 version solving failed"
pub get failed (1; So, because X application depends on both dio ^3.0.10 and upgrader ^3.1.0, version solving failed.)

[2021-03-24 11:30] larryaasen commented on #96
Try removing the version for upgrader in your `pubspec.yaml` file, and see if it can be resolved. If it does, then add the version from the `pubspec.lock` file into your `pubspec.yaml` file. Try this:
[code]

[2021-03-25 10:05] AdhamSaheb opened #97 "Update available and seen in debugging logs, but dialog doesn't show up as long as version in not below minAppVersion"
![Screen Shot 2021-03-25 at 12 05 27](https://user-images.githubusercontent.com/46823438/112455474-6bcf6f00-8d62-11eb-8411-2ee2f979bcb2.png)

[2021-03-25 11:16] larryaasen commented on #97
What version of upgrader?

[2021-03-25 11:17] AdhamSaheb commented on #97
upgrader: ^2.8.2 , as my project is a bit large and can't migrate to Flutter 2.0 atm

[2021-03-25 11:25] larryaasen commented on #97
I've looked at your debug log and looked over the code, and I don't see why shouldDisplayUpgrade is false. Are you able to put a breakpoint in shouldDisplayUpgrade()? If so, put a breakpoint here and look at this line: `if (isTooSoon() || alreadyIgnoredThisVersion()) {` and see if that causes it to return false.

[2021-03-25 11:42] AdhamSaheb commented on #97
I've inserted a small print inside that if statement and yes it does return false, see screenshot below
![Screen Shot 2021-03-25 at 13 41 51](https://user-images.githubusercontent.com/46823438/112467619-f4084100-8d6f-11eb-8bcd-0a6461ab2a90.png)

[2021-03-25 11:45] larryaasen commented on #97
Which one returned false? `isTooSoon()` or `alreadyIgnoredThisVersion()`?

[2021-03-25 11:49] AdhamSaheb commented on #97
Too soon

![Uploading Screen Shot 2021-03-25 at 13.48.55.png…]()

[2021-03-25 12:28] AdhamSaheb commented on #97
The only way I managed to get it to show up is to set :
`durationToAlertAgain: Duration(seconds: 2) ;`
Im not sure if this will cause any issues or I'm missing something here but i'll give it a shot in the next update, would you like me to close the issue ?

[2021-03-25 23:31] larryaasen commented on #97
Put this code in the build method of your main app widget only for debugging. This will clear all saved values.
[code]

[2021-03-26 09:24] AdhamSaheb commented on #97
Thank you very much, closed.

[2021-03-26 09:24] #97 closed

[2021-04-02 02:23] aJuhari opened #98 "Upgrade Alert Still Appear After Updated"
I used, upgrader: version 2.8.2

Why does the Upgrade Alert Still Appear since user already updated the latest version of the app ?
is the version have a issue ?

![Simulator Screen Shot - iPhone 12 Pro - 2021-04-02 at 10 16 38](https://user-images.githubusercontent.com/79817203/113373456-6cd55180-939d-11eb-870d-cd610d350811.png)

<img width="367" alt="Screenshot 2021-04-02 at 3 24 30 PM" src="htt

[2021-04-02 22:23] bean5 commented on #98
Perhaps if the build number of the version in the store is higher?

[2021-04-02 22:24] bean5 commented on #54
@Ruqoyah549 #58 is still open. I do not think this if fixed.

[2021-04-02 22:25] bean5 commented on #54
@Ruqoyah549 It is the only pull request present, so perhaps it will be fixed soon.

@AbdOoSaed do you have timeline on this?

[2021-04-03 09:06] AbdOoSaed commented on #54
@bean5
I think I fixed it since 6 months
look to my fork with this commit
https://github.com/AbdOoSaed/upgrader/tree/c455f1ca351bf1e4f0680ce2274185802f1a6b49

[2021-04-03 20:41] larryaasen commented on #98
I see two things in your log:
`shouldDisplayUpgrade: false`
Which means it should not display.
However, I also see `debugDisplayOnce: true`
Which means that for debugging, it should display once. Try setting debugDisplayOnce to false and try again.

[2021-04-05 01:47] aJuhari commented on #98
I set debugDisplayOnce to false and it works..!

Thank you very much..

[2021-04-05 01:47] #98 closed

[2021-04-05 20:43] codinglifeprogram opened #99 "How to make an AppCast file and show the release notes"
I am having trouble showing release notes and making an appcast file for android and ios

[2021-04-08 11:35] eldarkk commented on #37
Language name: Kazakh
language code: kk
body: {{appName}} қосымша жаңа нұсқасын жүктеп алыңыз! Жаңа нұсқасы: {{currentAppStoreVersion}}, қазіргі нұсқасы: {{currentInstalledVersion}}
ignore button: ЖОҚ
later button: КЕЙІН
update button: ЖАҢАРТУ
prompt: Қазір жаңартқыңыз келе ме?
title: Жаңарту керек пе?

[2021-04-08 22:44] fabricio-godoi opened #100 "Country Code Case Sensitive"
I have an application that is only available in Brazil. Since the App Store is configured to Brazil only, I had to configure the countryCode in the library to "BR".

Since I didn't see it at first, I put "br" (in lowercase) in the configuration, but the ITunes library kept returning the wrong app version, thus not showing the update popup. Debugging the ITunes lib, I found out that it was returnin

[2021-04-08 22:49] fabricio-godoi commented on #85
@NTMS2017 If you are yet wondering about this configuration since the Upgrader sens to use a singleton in its library it is possible to set up de countryCode as you suggested. But in the UpgradeAlert widget has a countryCode configuration as well that you can provide (as the library specifies). Just check if the initialize is not called before you use the UpgradeAlert.

Also, be aware that I found

[2021-04-09 00:32] larryaasen commented on #100
Thanks for pointing out this issue. I just added a fix to uppercase the country code, and published version 3.2.0 of the package with this fix. Please check it out.
https://pub.dev/packages/upgrader

[2021-04-09 00:32] #100 closed

[2021-04-09 00:40] larryaasen commented on #99
What have you tried so far?

[2021-04-09 12:50] MlecznyU commented on #99
I have the same problem. I tried following configurations:
![image](https://user-images.githubusercontent.com/59980382/114182294-c19b3e00-9942-11eb-89cc-c6f40ccbda2d.png)
and
![image](https://user-images.githubusercontent.com/59980382/114182422-e1326680-9942-11eb-9b2e-17d71e990e42.png)

[2021-04-13 05:58] suiebay opened #101 "appStoreVersion and installedVersion are null in Android"
Hello, this is my usage of UpgradeAlert widget:

UpgradeAlert(
            appcastConfig: cfg,
            messages: MyUpgraderMessages(),
            debugLogging: true,
            durationToAlertAgain: Duration(days: 1),
            dialogStyle: UpgradeDialogStyle.cupertino,
            showIgnore: false,
            showReleaseNotes: false,
            child: !box.containsKey('show') ? IntroSc

[2021-04-17 11:07] sisalik1 commented on #101
I changed my app version to lower and it shows this, but not the appStoreVersion:
[code]
How the link should look like anyway? Maybe I have a wrong link to check the version...

[2021-04-21 01:39] larryaasen commented on #101
Looking at this log, it is strange that the line `upgrader: appcast item count: 1` is not right after `upgrader: appcast is available for this platform`. I think that is the reason that initially appStoreVersion is null. I don't understand why this line doesn't complete in the right order: `await appcast.parseAppcastItemsFromUri(appcastConfig!.url!);`. Maybe it is the logging that is out of order.

[2021-04-21 01:41] larryaasen commented on #99
Can you share your upgrader log?

[2021-04-21 06:43] MlecznyU commented on #99
If you ask for console logs when the popup appears, I don't have any logs

[2021-04-21 07:57] abdulrojak288 opened #103 "Force update"
I would like to disable possibility to hide/close popup if the app is not updated. Can it ?

[2021-04-21 11:16] larryaasen commented on #99
Thanks for attaching the log. After the line `upgrader: showDialog message: ...` , you should see `upgrader: showDialog releaseNotes: ...`. What version of upgrader are you using? Make sure you are using version 3.1.0 or greater.

[2021-04-21 11:25] larryaasen commented on #103
The popup dialog will not be displayed unless there is an update available. After the user closes the dialog, it will not be display again for another 3 days. Make sure you do not call clearSavedSettings(), which is normally used for local testing.
[code]

[2021-04-21 16:38] ComputelessComputer opened #104 "Question about AppCast"
Hi, I was looking into this package and I have a few questions.

For Android, I have noticed an appcast xml file needs to be deployed such as GitHub.

So if I was to use this for Android,

1. Should I create an xml file in the project's directory and git push every time a new update should be notified?
2. Here in the example below, if I created a new update version should I add a new version by co

[2021-04-22 02:28] abdulrojak288 commented on #103
Can the pop up dialog be set can't be closed?
We really need a way to force update.
Because sometimes there are critical updates that cannot be delayed.

[2021-04-22 05:57] MlecznyU commented on #99
I was using the previous version. Thanks for the explanation :)

[2021-04-23 17:28] nivlaoh commented on #37
Language name: Simplified Chinese
language code: zh_CN
body: {{appName}}有新的版本！您拥有{{currentInstalledVersion}}的版本可更新到{{currentAppStoreVersion}}的版本。
ignore button: 不理
later button: 以后
update button: 更新
prompt: 您现在要更新应用程序吗？
title: 更新应用程序？

Language name: Traditional Chinese
language code: zh_TW
body: {{appName}}有新的版本！您擁有{{currentInstalledVersion}}的版本可更新到{{currentAppStoreVersion}}的版本。
ignore button: 不理

[2021-04-25 05:47] malvinpratama commented on #54
@larryaasen can you check for this pr #58 ?
@AbdOoSaed say this has been fixed since 6 months

[2021-04-25 17:39] larryaasen commented on #104
@ComputelessComputer  You can place your XML file anywhere, not just in the project's directory, as long as the app can access it from anywhere without credentials. Any time you have a new version, or want to force upgrade using the critical update, just update the XML file. You can have multiple versions in the file and keep adding new versions over time. However, it is not necessary to have more

[2021-04-28 09:38] rickyreza12 commented on #89
when i tried to update into the latest version i got this error

`Because no versions of requests match >3.3.0 <4.0.0 and requests 3.3.0 depends on shared_preferences ^0.5.2, requests ^3.3.0 requires shared_preferences ^0.5.2.

And because upgrader >=3.0.0-nullsafety.2 depends on shared_preferences ^2.0.3, requests ^3.3.0 is incompatible with upgrader >=3.0.0-nullsafety.2.

So, because mobile7 dep

[2021-05-07 06:01] zjamshidi commented on #89
@rickyreza12 you could fix it by overriding dependencies.

[2021-05-08 16:09] Basher7 commented on #37
Language name: Bengali
language code: bn
body: {{appName}} এর একটি নতুন সংস্করণ {{currentAppStoreVersion}} পাওয়া যাচ্ছে। আপনার অ্যাপলিকেশনের সংস্করণ হচ্ছে {{currentInstalledVersion}}।
ignore button: বাতিল
later button: পরে
update button: এখন আপডেট করুন
prompt: আপনি কি এখনই এটি আপডেট করতে চান?
title: আপডেট অ্যাপ্লিকেশন?

country code: BD

[2021-05-09 18:35] Basher7 commented on #103
@abdulrojak288 you can use my fork [https://github.com/Basher7/upgrader.git](https://github.com/Basher7/upgrader.git)

By this fork you can disable Android device back button by setting ```disableBackButton=true```
Also, For critical update set below line in your xml file

this will hide ```IGNORE``` and ```LATER``` button. Also set ```canDismissDialog=false``` and ```disableBackButton=true```. By

[2021-05-09 18:43] Basher7 commented on #54
Including @AbdOoSaed modification I add few extra line.

By this fork you can disable Android device back button by setting ```disableBackButton=true```
Also, For critical update set below line in your xml file

this will hide ```IGNORE``` and ```LATER``` button. Also set ```canDismissDialog=false``` and ```disableBackButton=true```. By this user must be update application if he want to use it.

[2021-05-09 21:15] AbdOoSaed commented on #54
@Basher7
Good features
but why u made as I made since 8 months
"remove extension and add a wrapper class"
I made this change because the package was not supported extensions at the time
but now I think  it supports extensions

[2021-05-10 11:46] larryaasen commented on #99
@MlecznyU Is this issue resolved?

[2021-05-10 11:47] larryaasen commented on #83
Closed due to lack of activity. You can open a new issue if you have more questions.

[2021-05-10 11:47] #83 closed

[2021-05-10 11:48] larryaasen commented on #85
Closed due to lack of activity. You can open a new issue if you have more questions.

[2021-05-10 11:48] #85 closed

[2021-05-10 11:48] larryaasen commented on #92
Closed due to lack of activity. You can open a new issue if you have more questions.

[2021-05-10 11:48] #92 closed

[2021-05-10 11:49] larryaasen commented on #93
Closed due to lack of activity. You can open a new issue if you have more questions.

[2021-05-10 11:49] #93 closed

[2021-05-15 18:34] malvinpratama commented on #54
@larryaasen so when we can release this feature?
do you have check that?

[2021-05-15 20:51] larryaasen commented on #54
PR https://github.com/larryaasen/upgrader/pull/106 should address this issue.
When using the ```UpgradeAlert``` widget, the Android back button will not dismiss the alert dialog by default anymore. To allow the back button to dismiss the dialog, use ```shouldPopScope``` and return true.

[2021-05-15 20:51] #54 closed

[2021-05-17 05:23] Basher7 commented on #54
@larryaasen please upgrade all pubspec.yaml packages to latest version in next release.

[2021-05-17 11:40] larryaasen commented on #54
@Basher7 Is there a problem?

<img width="762" alt="Screen Shot 2021-05-17 at 7 39 52 AM" src="https://user-images.githubusercontent.com/325973/118482733-22a4f700-b6e3-11eb-8c70-939f92a43b97.png">

[2021-05-17 15:21] Basher7 commented on #54
@larryaasen  For current version, no issue in package related. In future, if throw any dependency error, That's why I request keep packages at latest version. Nothing else.

Thank you for your effort and sorry for bother you.

[2021-05-17 16:14] wer-mathurin commented on #103
@larryaasen
Since you tag this as a possible enhancement.  Do you have an idea if you plan to support it soon?
We plan to add this functionality in one of our project, and forcing an update is one use case we need to cover.
As a workaround we can use the forked repository, but we'd love to see it happening here :-)

Best regards.

[2021-05-17 16:53] larryaasen commented on #103
I don't have a good solution in mind but would like to see some suggestions.

[2021-05-18 15:02] him123 opened #107 "Error: No named parameter with the name 'nullOk'."
I am using `upgrader: ^2.8.2` because my app is running in `sdk: ">=2.10.0 <3.0.0"`

but when I run the app it gives me following error

`../../flutter/.pub-cache/hosted/pub.dartlang.org/upgrader-2.8.2/lib/src/upgrade_messages.dart:76:48: Error: No named parameter with the name 'nullOk'.
      locale = Localizations.localeOf(context, nullOk: true);
                                               ^^

[2021-05-18 15:15] him123 commented on #107
I think solution may be https://api.flutter.dev/flutter/widgets/Localizations/maybeLocaleOf.html

[2021-05-19 11:38] larryaasen commented on #107
One way I solve dependency issues like this is by temporarily removing all version numbers from the dependencies in the pubspec.yaml file, and running `flutter pub get`. It may resolve the dependency version by itself. Then, grab the version numbers from the pubspec.lock file and put them back in the pubspec.yaml file. Hope that works for you.

[2021-05-20 21:50] thecreativedg opened #108 "Icon in dialog?"
Is it possible to add Icon like this?

![alert_with_icon_2.png](https://user-images.githubusercontent.com/6277278/119053241-16ac8400-b9c6-11eb-90ea-22e18244d8cb.png)

[2021-05-21 00:56] larryaasen commented on #108
The UI in upgrader is not designed to be customized like that.

[2021-05-21 01:44] larryaasen commented on #107
I just released version 2.8.3 to resolve the `nullOk` issue. See if that resolves the issue for you.
https://pub.dev/packages/upgrader/versions/2.8.3

[2021-05-21 01:46] larryaasen commented on #89
I just released version 2.8.3 to resolve the nullOk issue. See if that resolves the issue for you.
https://pub.dev/packages/upgrader/versions/2.8.3

[2021-06-02 02:11] semonec opened #109 "flutter build apk fails while using upgrader 3.3.0"
When I added upgrader code, build fails, but if I remove that codes in *.dart, build works.

Ironic, it could be executed with debugging, only errors when building release apk.

my upgrader codes ls like below, put appcast xml to github public repo.

[code]

**Environment**
[code]
[code]
**build logs**

[code]

[2021-06-02 10:06] semonec commented on #109
Found that bug is came from flutter itself,
https://github.com/flutter/flutter/issues/83094

[2021-06-02 11:18] larryaasen commented on #109
Looks like Flutter has a fix coming soon. Try out the next update of Flutter to see if that resolves your issue.

[2021-06-02 12:57] svyazist2005 commented on #12
I'm getting this error on IOS

flutter: [2021-06-02 15:45:00.237040 | ConsoleHandler | INFO] ============================== CATCHER LOG ==============================
flutter: [2021-06-02 15:45:00.238442 | ConsoleHandler | INFO] Crash occured on 2021-06-02 15:45:00.230994
flutter: [2021-06-02 15:45:00.239356 | ConsoleHandler | INFO]
flutter: [2021-06-02 15:45:00.242177 | ConsoleHandler | INFO] ---

[2021-06-03 01:37] larryaasen commented on #12
Can you enabled logging with this: `debugLogging: true`, and include the upgrader log here?

[2021-06-04 16:19] svyazist2005 commented on #12
It does does not differ much, anyway please check below:

--------------------
Running Xcode build...
Xcode build done.                                           98.4s
Waiting for iPhone SE (2nd generation) to report its views...          5ms
Syncing files to device iPhone SE (2nd generation)...
flutter: [2021-06-04 19:17:50.364057 | Catcher | FINE] Using debug config

flutter: [2021-06-04 19:17:5

[2021-06-06 02:21] larryaasen commented on #12
@svyazist2005 The log is missing this line which was added in version 2.8.1:
[code]

It would normally be between these lines like this:
[code]
Please check your pubspec.yaml file for the version of upgrader you are using and list that here in a comment. Make sure you are using version 2.8.3 or later.

[2021-06-07 09:51] svyazist2005 commented on #12
I'm using upgrader: ^2.8.3

[2021-06-07 11:11] larryaasen commented on #12
@svyazist2005 What does the `pubspec.lock` file say?

[2021-06-08 18:20] tjcode19 commented on #109
I was able to build release.apk I hope you've been able to resolve this issue too

[2021-06-08 18:21] tjcode19 opened #110 "UpgraderAlert not getting app name on iOS"
flutter: upgrader: showDialog message: A new version of 'name-missing' is available! Version 1.0 is now available-you have 0.9.0.

[2021-06-09 02:33] larryaasen commented on #110
The upgrader package does not contain the string `name-missing` so that must be in your app somewhere.

[2021-06-09 06:57] tjcode19 commented on #110
Thank you for your quick response. This is what is displaying on android *A new version of Chanelle MFB is available! Version 2.0.0 is now available-you have 0.9.0.* And we can see, it's showing the app name "Chanelle MFB" but in iOS , that app name is missing and I'm getting this *A new version of (app name is suppose to show here) is available! Version 1.0 is now available-you have 0.9.0.*

[2021-06-09 12:00] larryaasen commented on #110
@tjcode19 On iOS you need to setup your Info.plist file to contain the correct Bundle display name. See example below.

<img width="809" alt="Screen Shot 2021-06-09 at 8 00 15 AM" src="https://user-images.githubusercontent.com/325973/121350503-c6578080-c8f8-11eb-8bc6-8f4aba2d6f38.png">

[2021-06-09 12:41] tjcode19 commented on #110
Thank you very much

[2021-06-09 12:41] #110 closed

[2021-06-14 11:17] krunduev opened #111 "Appcast not worked with utf-8 correctly."
For example Russian released notes is not showed correctly.

Fix:

appcast.dart

Add
import 'dart:convert' show utf8;

Change
    final contents = response.body;
To
    final contents = utf8.decode(response.bodyBytes);

[2021-06-14 11:32] larryaasen commented on #111
@krunduev  Thanks for reporting this issue. Do you have a small sample text that is broken that I could use for a unit test?

[2021-06-14 11:40] larryaasen commented on #111
PR to fix this issue: https://github.com/larryaasen/upgrader/pull/112

[2021-06-14 17:08] krunduev commented on #111
If we get
[code]
`final contents = response.body;
`
gives
[code]

`    final contents = utf8.decode(response.bodyBytes);
`
Works as expected

[2021-06-15 01:17] larryaasen commented on #111
Thanks. I used some of that for a unit test.

[2021-06-15 01:36] #111 closed

[2021-06-15 01:40] larryaasen commented on #111
This issue was fixed with the release of this version: [3.3.1](https://github.com/larryaasen/upgrader/releases/tag/3.3.1)

[2021-06-15 11:51] svyazist2005 commented on #101
Do you have any suggestions how to fix it?

[2021-06-23 06:48] rohnsht opened #113 "Display update dialog even when the latest version of the app is installed in iOS"
The package display update available popup every the app is opened, even when the latest version of the app is installed in iOS. Also, it keeps displaying the popup even  after `Ignore` is pressed.

[2021-06-25 02:30] larryaasen commented on #113
Can you include the upgrade console log?

[2021-06-29 12:38] krunduev commented on #37
Please, add Ukrainian!

Language name: Ukrainian
language code: uk
body: Доступна нова версія додатка {{appName}}! Нова версія: {{currentAppStoreVersion}}, поточна версія: {{currentInstalledVersion}}
ignore button: НІ
later button: ПІЗНІШЕ
update button: ОНОВИТИ
prompt: Бажаєте оновити зараз?
title: Оновити?

[2021-07-14 07:59] Rainburn commented on #101
i got the same problem, here is my log before and after hot reload

I/flutter (32400): null
I/flutter (32400): upgrader: build UpgradeAlert
I/flutter (32400): upgrader: languageCode: en
I/flutter (32400): upgrader: operatingSystem: android sdk_gphone_x86_arm-userdebug 11 RSR1.201013.001 6903271 dev-keys
I/flutter (32400): upgrader: package info packageName: id.vision.app.vision
I/flutter (32400):

[2021-07-23 03:15] rohnsht commented on #113
Here is the console log:
[code]

[2021-07-24 00:28] larryaasen commented on #113
Maybe you should try: debugDisplayOnce: false

[2021-07-24 18:16] larryaasen commented on #37
Added new language translations for Tamil ('ta'), thanks to Purusothaman Ramanujam (@Purus).
Added new language translations for Kazakh ('kk), thanks to @eldarkk.
Added new language translations for Bengali ('bn'), thanks to Basher Sarkar (@Basher7).
Added new language translations for Ukrainian ('uk'), thanks to @krunduev.

I just updated this package to version 3.4.0 with these new language tran

[2021-07-24 18:28] larryaasen commented on #37
@nivlaoh There is an open PR for Chinese translations here: https://github.com/larryaasen/upgrader/pull/105/files
I don't know which one to use. Please review that PR and let me know what you think.

[2021-07-25 04:27] nivlaoh commented on #37
@larryaasen Thanks for your response. For Chinese translations, there are two different variants used.

One is Simplified Chinese (used in China, and other Southeast Asia Chinese speaking countries), Traditional Chinese (used in Taiwan, Hong Kong).

I had a look at the PR raised, it caters to Simplified Chinese. While slightly different in phrasing, it's perfectly fine. In my earlier post [8258070

[2021-07-25 12:51] larryaasen commented on #37
@nivlaoh The Locale.languageCode that is used says that it must be a valid subtag from here: https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry
I see 'zh' for language Chinese, but don't see any language starting with 'zh_'. You proposed 'zh_CN' and 'zh_TW' both of which I don't see listed on that page.

[2021-07-26 13:36] jpr0ger commented on #101
Hello.

To begin with, thank you for your package, I have no doubt that it made life easier of many people.

However, like some users here, I also faced the problem of not displaying the UpgradeAlert at the first start, but only after Hot reload. As in the messages above, when running `UpgradeAlert` the variables `appStoreVersion`, `installedVersion`, `minAppVersion`: were null, and took normal va

[2021-07-26 16:55] larryaasen commented on #101
I have identified the problem and I am working on a fix. I plan to release an updated version with a fix soon.

[2021-07-26 19:18] jpr0ger commented on #101
Excellent. Glad to hear it.

[2021-07-26 23:03] eldadj commented on #113
I have also stumbled on this issue which was very strange. Doing a curl to the update url for iTunes, returned the correct info, but a debug of itunes_search_api.dart was returning a wrong information. Further debugging indicated that the http get on line
` file: itunes_search_api.dart
42: final response = await client!.get(Uri.parse(url));
`
indicated that the http client was returning a cached r

[2021-07-27 01:53] larryaasen commented on #101
I fixed the issue and pushed a change on to the master branch here: https://github.com/larryaasen/upgrader/commit/ae1314831ac84c7c456c354be3ec659d48090e32

[2021-07-27 02:00] larryaasen commented on #101
I just published [version 3.4.1](https://pub.dev/packages/upgrader/versions/3.4.1) to resolve this issue.

[2021-07-27 02:00] #101 closed

[2021-07-27 02:01] #107 closed

[2021-07-27 02:02] #90 closed

[2021-07-27 02:03] larryaasen commented on #94
I just published version 3.4.1 to resolve this issue.

[2021-07-27 02:03] #94 closed

[2021-07-27 02:04] #96 closed

[2021-07-27 02:04] #104 closed

[2021-07-27 02:05] #99 closed

[2021-08-05 18:45] tiagohbalves commented on #2
I have a problem with place of Upgrader, because I use login page and a AutoLogin function. This causes that when realizes the autologin and navigate to a other screen the Dialog is showed briefly but is dismissed after that. There is a soluction?  I'm using the 2.8.3 version.

[2021-08-06 01:10] larryaasen commented on #2
@tiagohbalves  You could put Upgrade in both places. You could put it on the login screen, and if the autologin is being used, it could skip the login screen, and put it on the screen after autologin.

[2021-08-11 01:07] sjrphx commented on #113
I'm also experiencing this same issue. Only on iOS.

[2021-08-11 03:18] larryaasen commented on #113
@eldadj I appreciate the cache buster idea. I can incorporate that into the next release.

[2021-08-11 21:37] generalxhd commented on #37
language code: de
body: Eine neue Version von {{appName}} ist verfügbar! Version {{currentAppStoreVersion}} ist installiert, du hast {{currentInstalledVersion}}.
ignore button: IGNORIEREN
later button: SPÄTER
update button: JETZT AKTUALISIEREN
prompt: Willst du jetzt aktualisieren?
title: App aktualisieren?

[2021-08-11 21:40] generalxhd opened #117 "More Platform support (MacOS, Linux, Windows)"
It would be really nice if this package also support more platforms.

I think MacOS could be easy because it's similier to IOS.

Other Platforms like Linux and Windows would also be nice.

[2021-08-12 19:12] tiagohbalves commented on #12
I'm facing the same problem. I'm using simulator iPhone 12 Pro max -  iOS 14.5.
This is my log

[code]

Upgrader version:
`2.8.3`

[2021-08-13 01:05] larryaasen commented on #12
@tiagohbalves According to the log above, it is crashing on this version: `installedVersion: 1.0.5`. Is there anything about the `1.0.5` version that could not be parsed by the Version package?

[2021-08-13 05:43] amee13bit opened #118 "iOS setup"
Was trying to setup upgrader for flutter app, everything works on android but not in ios?
do i have to put appstore link appcast fiel? or is there any addition setup needed for ios?
and also how to test in ios?

[2021-08-13 11:36] larryaasen commented on #118
First, get the example to run on a simulator to make sure you can build it on iOS properly. There is nothing special to setup for iOS in your app. Once your app is properly configured and running in the iOS app store, it will also be configured properly for upgrader. Just make sure to include `UpgradeAlert` in your widget tree as you see in the examples.

[2021-08-13 13:40] skavinvarnan opened #119 "Callback when there is no Update and dialog will not be displayed"
Need a callback when there is no Update available or the dialog is not shown for the session.

The reason why this is needed is, when there is a critical release the app should not load any view. So completely everything will be based on callbacks, we already have callback for onLater, onIgnore, also need a callback with not dialog will be displayed.

PS: I'm working on this will create a PR soon

[2021-08-13 15:34] tj4702 commented on #47
my error is that I am using upgrader for the automatic update of play store and I cannot delete the import but I am still getting the same issue.
Thank you for your  help.

[2021-08-14 04:34] amee13bit commented on #118
So there is no need to add url in xml file ?
wrapping in upgrade alert will be enought right?

[2021-08-14 13:53] larryaasen commented on #118
Can you attach the upgrade log here?

[2021-08-14 18:12] amee13bit commented on #118
upgrader: button tapped: update now
flutter: upgrader: launching: https://apps.apple.com/us/app/top-kerala-psc-learning-app/id1545107052?uo=4
flutter: upgrader: launch to app store failed: PlatformException(Error, Error while launching https://apps.apple.com/us/app/top-kerala-psc-learning-app/id1545107052?uo=4, null, null)

[2021-08-15 16:14] larryaasen commented on #113
I have published version 3.5.0 to use a cache buster along with other updates. Thanks to @eldadj for the discovery and work on this issue.

[2021-08-15 16:15] #113 closed

[2021-08-15 18:39] jodymac opened #120 "Cosmetic request"
On the original Iphone SE, the upgrade card alert overflows due to items listed in the changes section of the app listing.  Can we make the the content of this card a Single Child Scroll View.  I imagine this would affect some of the older smaller screen phones as well when there are a lot of changes listed.

[2021-08-15 19:47] larryaasen commented on #120
@jodymac Can you provide a screenshot of this problem?

[2021-08-15 20:12] jodymac commented on #120
This is without any text modifcations on the original Iphone SE
![origIphoneSE](https://user-images.githubusercontent.com/25085716/129491428-630283fa-c27d-4707-97ae-e8486f60f862.png)

[2021-08-15 20:18] jodymac commented on #120
I had larger text turned off, but it was still using the previous test size.  I reset it, but the problem still exists with the font reduced to system default.

[2021-08-17 00:49] larryaasen commented on #120
This issue has now been fixed. Try version 3.5.1 that was just released.

[2021-08-17 00:49] #120 closed

[2021-08-17 02:01] jodymac commented on #120
Perfect!  Impressive turn around time, thank you so much for your time and plugin!

[2021-08-31 16:35] rainbowMeh opened #121 "Upgrader Functionality"
Hey
I want to ask about functionality
1. Can the Upgrader only show upgradeAlert to a specific version or version that greater then x.x.x ?
2. Can the Upgrader only show critical upgradeAlert to a specific version or range of version?

I try to use this XML code, but its still showing the upgrade
My application version is set to 1.0.4

[code]

Thankyou!!

[2021-09-06 03:45] nimeshgarg opened #122 "Implementation Problem"
After wraping my Flutter Application body in `UpgradeAlert` Widget, ADB debugging show the following error

`upgrader: PlayStoreResults.version exception: FormatException: Not a properly formatted version string`

[2021-09-06 15:00] larryaasen commented on #121
Can you post your upgrader console log here?

[2021-09-11 04:59] rainbowMeh commented on #121
Hello @larryaasen
Thankyou for the reply

Here's the upgrader log with the same XML that I commented before
[code]

[2021-09-11 17:23] larryaasen commented on #121
It is showing the upgrade alert because the Appcast has a higher version 1.1.0 than the app version 1.0.4. Were you expecting something different?

It will show the alert for the highest qualifying version in the Appcast.

It is only a critical update when the app version is lower than the min version.

[2021-09-13 05:17] rainbowMeh commented on #121
In the XML, I already declare the minimum system version to get the update is 1.0.5. Logically, the app version 1.0.4 will not be having the update. But in this case, the upgrade alert still alerting for the update.
Am I using the `<sparkle:minimumSystemVersion>` tag right?

[2021-09-15 17:42] yassinsameh opened #123 "PlayStoreResults.releaseNotes exception: Bad state: No element"
After looking through the source code, it seems that the package is searching for the text What's new and then using that section to display, however some apps don't have that "What's new" text in their release notes, like in my case and subsequently the error above was given. Could you change the implementation to (if What's new isn't found, just use the first section). Thank you :)

[2021-09-16 17:18] ameya730 opened #126 "Issue with lastversion alerted during testing"
![image](https://user-images.githubusercontent.com/68287548/133656368-fa3fae8e-c1b6-482d-90f2-175ae2c9c43b.png)

Hi,
I am using the upgrader plugin for my application. While testing I am getting the error 'Null check operator used on a null value' on _lastVersionAlerted. Please find attached the screenshot confirming the same.

Is this normal or am I making a mistake ?

Regards,
Ameya

[2021-09-18 12:15] larryaasen commented on #126
Can you attach your upgrade console log?

[2021-09-19 21:37] larryaasen commented on #123
@yassinsameh Can you provide the app Play Store id?

@Williano Thoughts on this?

[2021-09-20 08:27] ameya730 commented on #126
Hi Larry,
Sorry but there was a bit of an urgency in deploying the app. Hence, I used a different package for the moment.
In a couple of days, I'll create a dummy app, try to recreate the error and share the upgrade console log with you.
Regards,
Ameya

[2021-09-21 05:13] Williano commented on #123
Yes I agree, I will have to look into it and modify it.

[2021-09-28 13:49] lauroboeni commented on #123
@Williano any updates in this regards? :) I'm having the same issue with my app :)

[2021-09-29 11:24] larryaasen commented on #123
@yassinsameh We need some way to reproduce this issue. Do you have a unit test or example using the bin/playstore_lookup.dart app?

[2021-09-29 13:23] yassinsameh commented on #123
Hi @larryaasen , you can use the app id  com.konduko.standapp_v4 to test, or any app without the what's new section written would work actually.

[2021-09-30 03:39] Williano commented on #123
@lauroboeni I have started looking into it and will use the id provided by @yassinsameh to fix it.

[2021-10-05 11:46] larryaasen commented on #123
I just released version 3.6.0 that has a fix in it 98ba5302a1ff0bc04c9793adfa400f212cc765d9. Thanks to @yassinsameh for the change: `orElse:()=> sectionElements[0]`. I added a unit test for this case and updated the documentation.

[2021-10-05 11:47] #123 closed

[2021-10-06 05:15] ValeriusGC opened #128 "How to customize Dialog or make it as Overlay?"
Hi! As i got it right, dialog is not subject to customize. Maybe you kindly do it possible to adjust it externally - as an user's widget or fullscreen overlay?

[2021-10-06 06:41] Samkit02 opened #129 "can we enter multiple countries in country code parameter"
hello,

great work creating this package

my question is - can we enter multiple countries in country code parameter ??

[2021-10-12 02:09] courtneypresto commented on #119
Did you end yo doing this @skavinvarnan? I agree this would be VERY helpful!

[2021-10-18 12:27] larryaasen commented on #126
Seems like some of the log is missing and I need to see all of it. It should normally look like this:
[code]

[2021-10-19 10:00] rGradov opened #135 "How i can see alert without deploing app to Store?"
I try to see this alert without deploing into stores. I mean, apple Sotre and Google play doesnt know about my app. how i can see this alert ( with mock data or with something else). because now i'm just see the infinity 'checking...' text.

[2021-10-19 11:22] larryaasen commented on #129
I assume the array of countries would be used to query the App Store in array order, and when the first store returns a newer version, that would be used as the update version. However, when a user upgrades an app using the App Store, the country used by the App Store is based on the Country/Region setting in the account App Store account. If the wrong country code is used the app will not update.

[2021-10-20 05:14] Samkit02 commented on #129
yes i have entered the code but i have havent uploaded new version to playstore so after that i can check if it works or not

[2021-10-20 07:33] PaulKsi opened #136 "durationUntilAlertAgain don`t work?"
Stack(children: <Widget>[
              UpgradeAlert(
                showIgnore: false,
                durationUntilAlertAgain: 1,
                showReleaseNotes: false,
                child: Center(child: Text('')),
              )
            ]),

durationUntilAlertAgain: 1, showing as

The named parameter 'durationUntilAlertAgain' isn't defined.
Try correcting the name to an existing named

[2021-10-20 07:35] PaulKsi opened #137 "minAppVersion format same as pubsec.yaml?"
minAppVersion format should be same as pubsec.yaml?
for example -
1.1.4+14

[2021-10-27 09:34] mrniamster opened #138 "upgrader: PlayStoreResults.version exception: FormatException: Not a properly formatted version string"
Here is the log:

i haven't launced the app yet, just getting this in consoloe, dk if its working or not , please confirm with required fix?
[code]

[2021-10-29 22:37] malvinpratama opened #139 "Can bypass upgrade now"
flutter: upgrader: languageCode: id
flutter: upgrader: build UpgradeAlert
flutter: upgrader: default operatingSystem: ios 15.0.2
flutter: upgrader: operatingSystem: ios
flutter: upgrader: platform: TargetPlatform.iOS
flutter: upgrader: package info packageName: com.usewamotor.usewa.ios
flutter: upgrader: package info appName: USewa Motor
flutter: upgrader: package info version: 1.0.9
flutter: upgr

[2021-10-31 03:02] larryaasen commented on #139
In this case the user tapped the update button so there is nothing else for the user to do with the dialog, so it was closed. If you want the user to be forced to update, since you are using appcast, just add criticalUpdate to your item:
[code]

[2021-11-02 08:13] pomarec commented on #135
Are you searching for `debugAlwaysUpgrade` parameter ?

[2021-11-02 11:19] larryaasen commented on #136
`durationUntilAlertAgain` was added in version 2.8.0. What version are you using?

[2021-11-02 12:21] larryaasen commented on #37
I just released version 3.8.0 containing language translations for Norwegian ('nb'), thanks to @samu-developments. Please check out this release and verify.

[2021-11-04 15:22] azack opened #140 "README mismatch to UpgradeAlert API"
Minor but the README.md at
https://github.com/larryaasen/upgrader/blob/0c4cb966413dca802321ae5b3add3786647bf2cf/README.md#L105

describes the `UpgradeAlert` as taking a `debugDisplayAlways` parameter, but the parameter name is actually `debugAlwaysUpgrade`: https://github.com/larryaasen/upgrader/blob/0c4cb966413dca802321ae5b3add3786647bf2cf/lib/src/upgrade_alert.dart#L20

[code]

[2021-11-05 10:27] ajaygosh102 commented on #138
Same issue here. when it was showing, "varies with device" on play store

[code]

[2021-11-05 10:31] larryaasen commented on #140
Thanks for pointing that out. I will get this resolved.

[2021-11-05 10:37] larryaasen commented on #138
Does the version number show up on the Google Play Store page?

[2021-11-05 10:46] ajaygosh102 commented on #138
No. in Google Play Store page it shows  "varies with device".

[2021-11-07 23:47] absar opened #141 "[Feature Request] Check new version weekly. Show upgrader after release date + x days"
First of all thank you for the package. I have two feature requests:

1. Check for new version on a configurable interval e.g. weekly, instead of every time the app is opened, as it is an expensive process with network calls, running it every time will cost both CPU and battery life. The way it can be done is, if this parameter is set, only query shared prefs and do the rest of work only if we are

[2021-11-10 12:59] #118 closed

[2021-11-11 20:16] #139 closed

[2021-11-21 21:57] larryaasen commented on #37
I just released version 3.10.0 containing language translation for Lithuanian, thanks to @PaulKsi.

[2021-11-26 00:34] SogoGolf opened #144 "Can we check for new version outside of the widget tree ?"
We need to be able to check for a new version from our controllers/blocs etc., and then if needed, display the update popup.

Is it possible to do this with upgrader ?

[2021-11-30 10:37] Zazo032 opened #145 "Adding the plugin breaks web apps"
Using version `3.11.0`, when adding `UpgradeAlert` to a page that is also displayed on Flutter Web, the app breaks with the following error:
[code]
If the plugin doesn't support web, there should be a no-op way to add the plugin without breaking mobile implementations. A solution could be to move `Platform` calls from `dart:io` to [`universal_platform`](https://pub.dev/packages/universal_platform)

[2021-12-02 09:02] Zazo032 commented on #145
Another option: [`universal_io`](https://github.com/dint-dev/universal_io)

[2021-12-04 13:35] larryaasen commented on #145
The exception was thrown here:
`packages/upgrader/src/upgrader.dart 116:37`

[2021-12-06 11:37] mohammad-alnimer1 opened #147 "The update button is not showing"
I/flutter (13003): end
I/flutter (13003): upgrader: build UpgradeAlert
I/flutter (13003): upgrader: blocked: true
I/flutter (13003): upgrader: debugDisplayAlways: true
I/flutter (13003): upgrader: debugDisplayOnce: false
I/flutter (13003): upgrader: hasAlerted: false
I/flutter (13003): upgrader: shouldDisplayUpgrade: true
I/flutter (13003): upgrader: shouldDisplayReleaseNotes: true
I/flutter (1300

[2021-12-06 11:39] mohammad-alnimer1 commented on #147
I/flutter (24889): upgrader: package info packageName: com.vibes.salwawfairouz
I/flutter (24889): upgrader: package info appName: Salwa & Fairouz
I/flutter (24889): upgrader: package info version: 2.0.0
I/flutter (24889): upgrader: appcast is available for this platform
I/flutter (24889): upgrader: appcast item count: 1
I/flutter (24889): upgrader: appcast best item version: 2.1.0
I/flutter (24889

[2021-12-06 12:09] larryaasen commented on #147
@mohammad-alnimer1 Can you post the code where you are using `UpgradeAlert`?

[2021-12-06 12:20] mohammad-alnimer1 commented on #147
final appcastURL = 'https://firebasestorage.googleapis.com/v0/b/flash-chat-9bbda.appspot.com/o/appcast.xml?alt=media&token=70bfe573-c2ab-46b7-bdb2-a3aeb6278d32';
    final cfg = AppcastConfiguration(url: appcastURL, supportedOS: ['android']);

    return MaterialApp(
      title: widget.appName,
      theme: widget.theme,
      debugShowCheckedModeBanner: false,
      home: UpgradeAlert(
        a

[2021-12-06 12:21] mohammad-alnimer1 commented on #147
<rss xmlns:sparkle="https://play.google.com/store/apps/details?id=com.vibes.salwawfairouz" version="2.0">
<channel>
<title>Help Code TJCODE- Appcast</title>
<item>
<title>Version 2.1.0</title>
<description>desc</description>
<pubDate>Tue, 08 Jun 2021 12:00:00 +0000</pubDate>
<enclosure url="https://play.google.com/store/apps/details?id=com.vibes.salwawfairouz" sparkle:version="2.1.0" sparkle:os="a

[2021-12-06 12:21] mohammad-alnimer1 commented on #147
<rss xmlns:sparkle="https://play.google.com/store/apps/details?id=com.vibes.salwawfairouz" version="2.0">
<channel>
<title>Help Code TJCODE- Appcast</title>
<item>
<title>Version 2.1.0</title>
<description>desc</description>
<pubDate>Tue, 08 Jun 2021 12:00:00 +0000</pubDate>
<enclosure url="https://play.google.com/store/apps/details?id=com.vibes.salwawfairouz" sparkle:version="2.1.0" sparkle:os="a

[2021-12-08 10:19] Mattjevaas commented on #144
Yes it is possible, i used something like this on my project

[code]

[2021-12-11 13:52] larryaasen commented on #145
Fixed in PR https://github.com/larryaasen/upgrader/pull/148.

[2021-12-11 13:57] larryaasen commented on #145
Fixed.

[2021-12-11 13:57] #145 closed

[2021-12-15 06:14] SogoGolf commented on #144
brilliant! many thanks

[2021-12-15 06:14] #144 closed

[2021-12-20 19:38] ameenbadri7 commented on #103
Thank you it's working.

This my XML appcast file:

`<?xml version="1.0" encoding="utf-8"?>

<rss version="2.0"
    xmlns:sparkle="http://www.andymatuschak.org/xml-namespaces/sparkle">
    <channel>
        <title>Debt Now App - Appcast</title>
        <item>
            <title>Version 3.0.0</title>
            <description>Minor updates and improvements.</description>
            <pubDate>Sun, 1/

[2021-12-22 01:48] larryaasen commented on #147
@mohammad-alnimer1 I'm not sure what is wrong here. Can you attach a screenshot of the UpgradeAlert displayed in your app?

[2021-12-28 18:56] Pocoyo-dev commented on #37
Language name: Haitian Creole
Language code: ht
Body: Yon nouvo vèsyon {{appName}} disponib! Vèsyon {{currentAppStoreVersion}} disponib, epi ou gen vèsyon {{currentInstalledVersion}}.
Ignore button: IGNORE
Later button: PITA
Update button: MIZAJOU KOUNYE A
Prompt: Èske ou vle mete ajou aplikasyon an kounye a?
Title: Mete ajou app a?

[2021-12-30 18:23] dukesx opened #149 "How to get to playstore/appstore onCLickUpdate ?"
Hi ,

This may not be an issue but i cant seem to figure out, how will i redirect someone to playstore on clicking "update button" ? the damn function requires a bool and no "launcher" can work without async. I am stuck here.

[2021-12-31 13:40] larryaasen commented on #149
@dukesx You don't need to use the onUpdate() callback. The code will automatically take the user to the playstore/app store when tapping on the update button.

[2021-12-31 16:16] dukesx commented on #149
Oh okay ! thanks @larryaasen !

[2021-12-31 16:16] #149 closed

[2022-01-02 11:54] LostInDarkMath opened #150 "UpgradeAlert does not work"
## Logs
[code]

## Version
[code]

## Code
[code]

What's wrong here?

[2022-01-02 13:55] larryaasen commented on #150
@LostInDarkMath The upgrader does not seem to be fully initialized in the `initialize()` method. This code did not run and print out the package info. Can you step through that code and determine why?
[code]

[2022-01-02 14:03] LostInDarkMath commented on #150
Very strange. Now it works perfectly. I do not changed anything. Maybe an issue with cached packages or cached builds. Sry for that.

[2022-01-02 14:03] #150 closed

[2022-01-04 21:35] EdoardoVignati opened #151 "Typo in README"
Hi. I'm wondering if in the README the `code` argument should be `countryCode`.

` UpgradeAlert(messages: UpgraderMessages(countryCode: 'es')); `

instead of:

` UpgradeAlert(messages: UpgraderMessages(code: 'es')); `

[2022-01-05 04:48] Ghoral commented on #147
I have faced the same issue.
Steps:
1. Update alert pops up
2. Click on update now
3. Navigates to playstore but the button is still open (expected Update)

![Screenshot_20220105-102806_2 (1)](https://user-images.githubusercontent.com/49188349/148162042-654c3ef3-4c73-494f-82d4-8339f0ab8337.png)

[2022-01-05 04:51] Ghoral commented on #147
I have used only update alert widget and no other configuration.
![code](https://user-images.githubusercontent.com/49188349/148162231-d7cac564-1a83-4b2c-8b4f-de596e3dbefe.png)

[2022-01-05 12:12] larryaasen commented on #147
@Ghoral The screenshot you provided is taken from the Google Play Store. The upgrader package does not control the buttons displayed on the Play Store.

- What version is being displayed on the Play Store (can you add a screenshot?)
- What is the upgrader log showing? (can you attach the upgrader log?)

[2022-01-07 06:01] Ghoral commented on #147
ok sure. but how can I get upgrader log ?

[2022-01-07 08:19] Ghoral commented on #147
Upgrader Log

I/flutter (15888): upgrader: appStoreVersion: 1.15.1
I/flutter (15888): upgrader: installedVersion: 1.15.0
I/flutter (15888): upgrader: minAppVersion: null
I/flutter (15888): upgrader: isUpdateAvailable: true
I/flutter (15888): upgrader: shouldDisplayUpgrade: true
I/flutter (15888): upgrader: shouldDisplayReleaseNotes: true
I/flutter (15888): upgrader: showDialog title: Update App?
I

[2022-01-07 12:30] larryaasen commented on #147
@Ghoral Based on the information provide it appears that upgrader is behaving as designed. Tapping on the Update button on the upgrader widget takes the user to the Play Store. I don't see a problem here with upgrader. Perhaps there is an issue with the Play Store. Maybe the account being used on the Play Store does not match the account used on the phone.

[2022-01-13 13:44] Ghoral commented on #147
Hello @larryaasen.
I will do some workaround to see if I am missing something.

[2022-01-17 20:04] utkudenis commented on #137
Hi @larryaasen, how can ı set minappversion from appcast file both android and ios ?
I tried <sparkle:minimumSystemVersion>1.1.0</sparkle:minimumSystemVersion> but didn't work.
it is still null
![image](https://user-images.githubusercontent.com/68633376/149830704-6aa40518-c8a1-4e7c-80af-9f2676157217.png)
![image](https://user-images.githubusercontent.com/68633376/149830783-b7922cdb-53e4-4bdf-88a7-

[2022-01-17 21:41] larryaasen commented on #137
Did you try isCriticalUpdate?

[2022-01-17 21:44] larryaasen commented on #137
If you have improvements for Turkish, please send them over. Thanks.

[2022-01-17 21:45] utkudenis commented on #137
I didn't find anything about isCriticalUpdate in readme and pub.dev can you share example or code bloc ?

[2022-01-17 21:51] larryaasen commented on #137
I don’t have an example but the test file has it: https://github.com/larryaasen/upgrader/blob/f188f624d63e2cf627687754333d9d487d2c8173/test/testappcast.xml

[2022-01-24 15:03] viroth-ty commented on #37
Language name: Khmer
language code: km
body: មានការអាប់ដេតថ្មីកម្មវិធី {{appName}} ហើយ! កំណែអាប់ដែត {{currentAppStoreVersion}} គឺអាចប្រើប្រាប់បានជំនួស {{currentInstalledVersion}} បានហើយ។
ignore button: មិនអើពើ
later button: ពេលក្រោយ
update button: អាប់ដេតឥឡូវនេះ
prompt: តើអ្នកចង់អាប់ដេតវាឥឡូវនេះទេ?
title: អាប់ដេតកម្មវិធីទេ?

[2022-01-26 06:52] coup commented on #139
I am facing the same issue here is my config code.

1. Open the app
2. Upgrader Dialog appears
3. click on update button
4. do nothing
5. go back to app
**6. No dialog appears**

how can i make the app to display the dialog until user not updates the app

[code]

[2022-01-26 13:06] larryaasen commented on #139
@coup Add this to UpgradeAlert: `durationToAlertAgain: const Duration()`

[2022-01-30 17:08] jordysinke commented on #37
Language name: Dutch
language code: nl
body: Er is een nieuwe versie van {{appName}} beschikbaar! De nieuwe versie is {{currentAppStoreVersion}}, je gebruikt nu versie {{currentInstalledVersion}}.
ignore button: NEGEREN
later button: LATER
update button: NU UPDATEN
prompt: Wil je de app nu updaten?
title: App updaten?

[2022-02-04 05:10] tonyteo72 opened #154 "upgrader: Can't find an app in the Play Store with the id: xxx.xxx.xxx"
I got the above error when using upgrader in my flutter project. I have upload my test app into Google Play Store as Internal Testing. I checked and my app id is correct in the Play Store.

Does upgrader only work when my app is in Production release ?

[2022-02-04 12:28] larryaasen commented on #154
Yes, the app page for the app must be on the Google Play store. If you can navigate to the app page in a browser, it will work.

[2022-02-06 16:40] AlaaGitHub2020 commented on #147
I faced the same issue with my app !! Could you please tell me did you fixed it or did you know why the update did not show on the google store after navigator the user there ?! @Ghoral

[2022-02-07 05:41] Ghoral commented on #147
@AlaaGitHub2020 No I haven't found any solution yet.

[2022-02-09 12:17] larryaasen commented on #151
@EdoardoVignati The named parameter 'countryCode' isn't defined. Looking at the code you will see this, where `code` is the parameter:
[code]

[2022-02-09 12:26] larryaasen commented on #140
@azack This was fixed in this commit: f387c490e4109f4a7a660b006af4214f55b4a914, and will be included in the next release, 3.14.0.

[2022-02-09 12:26] #140 closed

[2022-02-09 12:28] #109 closed

[2022-02-09 12:45] #122 closed

[2022-02-09 12:46] larryaasen commented on #126
@ameya730 Are you still having this issue?

[2022-02-09 12:47] larryaasen commented on #129
@Samkit02 Do you still have this issue?

[2022-02-09 12:49] #137 closed

[2022-02-09 12:51] larryaasen commented on #135
@rGradov Are you still having an issue?

[2022-02-09 12:52] larryaasen commented on #136
@PaulKsi Are you still having this issue?

[2022-02-09 12:53] larryaasen commented on #138
Since there is no valid version listed on the page, this package cannot determine the version number. Maybe change the app to support only one version, or look at using the Appcast feature of upgrader.

[2022-02-09 12:53] #138 closed

[2022-02-09 13:02] larryaasen commented on #37
I just added the Dutch language translation in commit 4f5a22be9a77d8a910d9d4e9be021ba08ef5083d. Thanks to @jordysinke for the submission. It will be included in the 3.14.0 release.

[2022-02-09 13:30] larryaasen commented on #37
I just added the language translation for Khmer ('km') in commit f827933dd856ed2f48478a0f3e91257fe4ce2456. Thanks to @viroth-ty for the submission. It will be included in the 3.14.0 release.

[2022-02-09 13:43] EdoardoVignati commented on #151
Thank you very much for your reply. Probably I got confused about  UpgraderMessages and UpgraderAlert. Thank you again. Great plugin.

[2022-02-09 13:43] #151 closed

[2022-02-09 21:28] larryaasen commented on #37
I just added the language translation for Haitian Creole ('ht') in commit https://github.com/larryaasen/upgrader/commit/f679d2be2b481b8b2831f40533d2cbbb74ecbdda. Thanks to @Pocoyo-dev  for the submission. It will be included in the 3.14.0 release.

[2022-02-10 02:50] larryaasen commented on #119
@skavinvarnan and @courtneypresto - I created a new PR https://github.com/larryaasen/upgrader/pull/156 with a callback that I think will work for you. Please check it out and let me know what you think: https://github.com/larryaasen/upgrader/pull/156

[2022-02-25 14:41] AhmadAbuRjeila opened #158 "'Release Notes:' title non translatable"
Facing issue in 'Release notes' part of upgrader when using Arabic language. All popup content translatable & could be modified unless the 'Release notes:' section title as in shot below.

<img width="272" alt="Screen Shot 2022-02-25 at 4 25 21 PM" src="https://user-images.githubusercontent.com/2583763/155733553-a342e298-94b8-48ac-be77-d8dc650312a1.png">

Upgrader log:
[code]
Upgrader version:
[co

[2022-03-08 14:43] KorbinianMossandl opened #160 "[Feature request] add method call for minimum app version popup"
We would like to put our app into offline mode if the app is below the minimum app version.
So it would be really nice if we could add a method call to the force update popup to handle this case.

[2022-03-09 11:33] Samkit02 commented on #129
havent tested yet

[2022-03-21 07:53] tech-instacare commented on #121
facing same issue.

[2022-03-21 11:17] larryaasen commented on #121
@tech-instacare Can you post your Flutter upgrader log here?

[2022-03-21 17:55] njonbayou commented on #126
Hi this issue seems persistent. Error throws to upgrader.dart line 715 as _CastError (null check used on null value). I have seen update window only once when i mistakenly did not include clearsavedsettings(), now the second time it threw this error. Can you help?
P.S: log i have is below
flutter: upgrader.ITunesResults.version: RangeError (index): Invalid value: Valid value range is empty: 0
flut

[2022-03-21 17:58] njonbayou commented on #126
Im guessing it doesnt see the ios app version. (BTW my app is iOS)

[2022-03-22 12:02] larryaasen commented on #126
@njonbayou Seems like some of the upgrader log is missing and I need to see all of it. See comments above.

[2022-03-22 12:03] njonbayou commented on #126
How can i retrieve it?

[2022-03-22 12:04] njonbayou commented on #126
I have looped around this issue by first commenting out line 715, and then uncommenting back!

[2022-03-22 12:05] larryaasen commented on #126
All of the lines that start with `flutter:` - turn on the log by using `debugLogging: true`.

[2022-03-22 12:09] njonbayou commented on #126
Where exactly should i put debugLogging: true?

[2022-03-24 02:40] Aceimax commented on #37
Language name: Mongolian
language code: mn
body: {{appName}}-н шинэ хувилбар бэлэн боллоо! Таны одоогийн ашиглаж буй хувилбар {{currentInstalledVersion}}  - Шинээр бэлэн болсон хувилбар нь {{currentAppStoreVersion}} юм .
ignore button: Татгалзах
later button: Дараа суулгах
update button: Шинэчлэх
prompt: Та одоо шинэчлэлтийг татаж авах уу?
title: Та шинэчлэлт хийх үү?

[2022-04-10 03:24] akirakakar commented on #37
Language name: Japanese
language code: ja
body: 現在のバージョンは、{{currentInstalledVersion}}です。ご利用可能な{{appName}}の最新バージョンは{{currentAppStoreVersion}}です。
ignore button: 今はしない
later button: 後で通知
update button: アップデート
prompt: 今すぐアップデートしますか?
title: アプリのアップデート

[2022-04-10 05:54] akirakakar commented on #37
Thank you for the great package. @larryaasen sent out [pr](https://github.com/larryaasen/upgrader/pull/163) for Japanese translation.

[2022-04-10 08:38] Karjan1 opened #164 "Prompt showing only once"
I try to force users to upgrade app each time there is a new version. It works but only once, when there is a new version. When the dialog is opened and the user closes app. It won't ask again for update. Is there an option to prompt dialog each time?

[2022-04-20 04:51] curogom commented on #37
Language name: Korean
language code: kr
body: {{appName}}의 새 버전이 출시 되었습니다. 신규 버전 : {{currentAppStoreVersion}} 현재 버전 : {{currentInstalledVersion}}.
ignore button: 아니오
later button: 나중에
update button: 지금 업데이트
prompt: 업데이트를 진행 하시겠습니까?
title: 신규 업데이트

[2022-04-20 13:49] xuanzong06 opened #165 "Couldn't get PlayStoreResults.version"
Hi I'm a new flutter developer , I have a question about troubling getting version from PlayStore using upgrader package

I wonder why I could not get PlayStoreResult.version information
Is there any INTERNET permission should I check?

Thanks!

I/flutter (21099): upgrader: languageCode: en
I/flutter (21099): upgrader: build UpgradeAlert
I/flutter (21099): upgrader: default operatingSystem: androi

[2022-04-21 00:09] larryaasen commented on #165
I'm not sure why it cannot parse the version number. Run this app that is part of the upgrader package and it may help you figure this out.
README: https://github.com/larryaasen/upgrader#command-line-app---android
[code]

[2022-04-21 00:12] larryaasen commented on #164
https://github.com/larryaasen/upgrader#customization
`durationUntilAlertAgain: duration until alerting user again, which defaults to 3 days`

[2022-04-21 12:02] xuanzong06 commented on #165
Hi Thanks for replying

After I run the command
it return : Error when reading 'playstore_lookup.dart': No such file or directory.

[2022-04-21 17:07] xuanzong06 commented on #165
Hi below is I run command switch to upgrade dir and run result

yezac-MacBook-Pro:bin yezac$ dart playstore_lookup.dart id=com.google.android.apps.mapslite
Error: Couldn't resolve the package 'upgrader' in 'package:upgrader/src/play_store_search_api.dart'.
playstore_lookup.dart:10:8: Error: Not found: 'package:upgrader/src/play_store_search_api.dart'
import 'package:upgrader/src/play_store_search_

[2022-04-22 11:42] larryaasen commented on #165
@xuanzong06  You may need to download the GitHub repo to run this. It runs fine for me.

[2022-04-22 12:23] #136 closed

[2022-04-22 12:26] larryaasen commented on #121
@rainbowMeh @tech-instacare Still facing this issue?

[2022-04-22 12:29] larryaasen commented on #126
@njonbayou Like this:
[code]

[2022-04-22 12:31] larryaasen commented on #135
@rGradov Did you try using the `debugDisplayAlways` parameter?

[2022-04-22 12:46] rainbowMeh commented on #121
Hello
In the end, I forked it and changed some of the code, because I found out that the "minimumSystemVersion" is different than what I thought.
Thankyou 😁

[2022-04-22 12:47] #121 closed

[2022-04-25 11:35] hyoungphi commented on #165
@xuanzong06 Try $flutter pub get in the cloned repo. It worked to me

[2022-04-26 00:29] larryaasen commented on #119
The PR #156 was merged and is now available in version https://pub.dev/packages/upgrader/versions/3.14.0. Check it out.

[2022-04-26 00:29] #119 closed

[2022-04-26 01:46] hyoungphi commented on #165
@larryaasen I am at Korea.
At play_store_search_api.dart, requests to https://play.google.com/store/apps/details?id={app_id}. And playstore at Korea responses different.
It was succeeded to get information when I modify some code to requests to https://play.google.com/store/apps/details?id={app_id}&gl=US

I guess some rigon have different website and it might be the next version of playstore. I th

[2022-04-27 02:16] larryaasen commented on #165
@hyoungphi So, what you are saying, is that `&gl=US` should be appended to the existing Play Store URL that is currently being used? If so, should the value always be `US`?

[2022-04-27 11:31] markbreuss opened #166 "Is Microsoft Store supported?"
On the Pub.dev page it says plattform support for windows.

However in the docs I could not find any hints on the Microsoft Store.
Is it currently supported, and if not are there any plans to do so?

Thanks for the package and your time!

[2022-04-29 11:02] maysha18 opened #167 "upgrader is not showing update on clicking on play store link , only showing "open""
/flutter (32400): upgrader: appcast item count: 2
I/flutter (32400): upgrader: appcast best item version: 1.0.8
I/flutter (32400): upgrader: blocked: false
I/flutter (32400): upgrader: debugDisplayAlways: false
I/flutter (32400): upgrader: debugDisplayOnce: false
I/flutter (32400): upgrader: hasAlerted: false
I/flutter (32400): upgrader: appStoreVersion: 1.0.8
I/flutter (32400): upgrader: installe

[2022-04-29 12:12] larryaasen commented on #167
This is the key this your situation:
[code]
That means it will not prompt the user because of this parameter:
[code]

[2022-04-29 12:25] maysha18 commented on #167
but it still showing "open" in play store ??

[2022-04-29 12:29] larryaasen commented on #167
The upgrader package does not control what is being displayed on the Play Store. It probably says open to alert the user to open the app since it has been installed. You can only test that upgrader opens the correct URL and sends the user to the correct page.

[2022-05-02 22:42] larryaasen commented on #37
Thank you @Aceimax for the Mongolian translations. It will be include in version 3.15.0.

[2022-05-02 22:51] larryaasen commented on #37
@curogom  The Korean language KO has already been translated. You suggested KR which is something else. Here is part of the IANA Language Subtag Registry:
[code]
https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry

[2022-05-03 01:04] larryaasen commented on #37
@Ayman-Kortobaa @deandreamatias @Teckosss @goleedev @JustLazzah @NNowakowski @malvinpratama
There is a new message that needs to be translated in all language. They phrase is `Release Notes`. I already have English and Spanish. I still need all the other translations. If you could reply back here with a translation for your language, that would be a big help. Thanks. Larry

[2022-05-03 08:16] JustLazzah commented on #37
@larryaasen
Language: Italia
Release notes: Note di rilascio

[2022-05-03 08:24] akirakakar commented on #37
@larryaasen
Language: Japanese
Release notes: リリースノート

[2022-05-04 11:18] larryaasen commented on #166
The Dart code of this package will run on Windows, however there is no support for the Microsoft Store yet. It is possible that in the future it will be supported, but there is a lack of details on implementing a Dart client for the Microsoft Store to get the app version details.

[2022-05-04 11:42] larryaasen commented on #141
@absar You may find the changes in version [4.0.0-alpha.3](https://pub.dev/packages/upgrader/versions/4.0.0-alpha.3) will help you subclass and support these ideas. Check it out.

[2022-05-05 08:11] joymyr opened #169 "Forced upgrade should have a different title and text"
When setting Minimum App Version the user is still asked kindly if he/she wants to update the app, even though there's no other option. The text should indicate that the user needs to upgrade to continue using the app when that's the case.

[2022-05-05 12:45] deepak16paliwal commented on #147
@larryaasen it is still an issue because when we do live app from AppStore then Your Upgrader get that information but on AppStore it will take 30 minutes to 1 hour fetch that updated app.

[2022-05-10 11:10] larryaasen commented on #160
@KorbinianMossandl There is an updated callback method `willDisplayUpgrade` in version 4.0.0 that provides the minAppVersion, installedVersion, and appStoreVersion. You could implement this callback, determine if the app is below the minimum, and put the app in offline mode when it is below. See this section in the [README](https://pub.dev/packages/upgrader#customization).

[2022-05-10 11:13] larryaasen commented on #158
@AhmadAbuRjeila The latest version of the package now provides language translation for `Release Notes`. However, not all languages have a translated string yet. Do you have the translation for `ar` that I could add?

[2022-05-10 11:14] #126 closed

[2022-05-10 11:15] #135 closed

[2022-05-10 11:22] larryaasen commented on #37
@nivlaoh I would really like to get the Chinese translation into the code, but I need to make sure the country code is correct. It is only two letters in Flutter, so we could use `zh` for Simplified Chinese, but how would we add Traditional Chinese?

[2022-05-10 11:56] KorbinianMossandl commented on #160
that sounds like a perfect solution. i will give it a try. thanks!

[2022-05-14 20:19] ziyadmansy opened #171 "upgrader: instantiated. after Flutter upgrade to 3.0 and upgrader upgrader: ^4.1.1"
debug console:
upgrader: PlayStoreResults.description exception: RangeError (index): Invalid value: Valid value range is empty: 0
I/flutter (23513): upgrader: instantiated.
I/chatty  (23513): uid=10154(com.onecliquesystems.one_click_app) 1.ui identical 6 lines
2
I/flutter (23513): upgrader: instantiated.

pubspec.lock:
  upgrader:
    dependency: "direct main"
    description:
      name: upgrader

[2022-05-15 15:54] azharxes opened #173 "launchUrl launches webview in default mode."
Can't update app because `launchUrl` in `_sendUserToAppStore()`  should open store app but it launches a webview.

[2022-05-17 06:10] hmukwana opened #175 "Add support for flutter 3"
Current version doesn't compile with flutter 3

[2022-05-17 12:24] larryaasen commented on #175
Fixed in [Upgrader 4.1.2](https://pub.dev/packages/upgrader/versions/4.1.2) on pub.dev.

[2022-05-17 12:24] #175 closed

[2022-05-17 12:28] larryaasen commented on #173
@azharxes Can you include your upgrader log? It looks like this: https://github.com/larryaasen/upgrader#reporting-issues

[2022-05-17 12:44] azharxes commented on #173
@larryaasen upgrader is working perfectly, it's the launchurl which is opening up a webview instead of store app. The new version of launchurl has the option to select mode.

[2022-05-20 04:25] serpentarius-hollow opened #177 "Forcing Minimum App Version in Internal Testing / TestFlight Stage"
Hi! I was wondering can we try to force the minimum app version while our app is still in Internal Testing/TestFlight stage? Thank you.

[2022-05-20 11:16] larryaasen commented on #171
@ziyadmansy Could you add `debugLogging: true` so it outputs the log, and attach the log here?

[2022-05-20 11:18] larryaasen commented on #171
@ziyadmansy
Can you share the code you used for upgrader?
Also, you may want to upgrade to version 4.2.0 now.

[2022-05-20 11:23] larryaasen commented on #177
@serpentarius-hollow While you are still doing internal testing I assume your app is not published on a store yet, so the minimum app version does not do anything, like you pointed out. You can force the alert to be displayed by setting `debugDisplayAlways`. Otherwise, you can look into using an [Appcast](https://pub.dev/packages/upgrader#appcast).

[2022-05-20 11:24] larryaasen commented on #173
@azharxes Should this issue be closed now?

[2022-05-20 11:25] larryaasen commented on #164
@Karjan1 Did that work for you?

[2022-05-20 11:26] azharxes commented on #173
did you set non-broswer application mode in launchUrl ?

[2022-05-20 11:30] larryaasen commented on #165
@hyoungphi I see this works and brings up the South Korea version of the Play Store.
https://play.google.com/store/apps/details?id=com.moonwink.treasury&gl=KR

[2022-05-23 13:29] tech-instacare opened #178 "Webview is opening instead of Play Store."
Debug Logs:
[code]

pubspec.lock file
[code]
When I press on Update button, it is launching webview instead of Play Store App and if I try to launch Play Store App from webview it is showing following error:
Webpage not available
The webpage at intent://play.app.goo.gl/?link=MY_APP_LINK#intent;pack could not be loaded because: net::ERR_UNKOWN_URL_SCHEME

[2022-05-24 07:26] AlexPopaUpcode commented on #171
I believe he is talking about the following line of code which prints this message every time we build the application

`  print("upgrader: instantiated."); // TODO: remove this! `

This is line 176 from `upgrader.dart`

I also upgraded to 4.2.0, but this line is still there

[2022-05-24 21:33] JHBitencourt opened #179 "Playstore updated layout"
The PlayStore has changed its layout page, or at least is in the process of changing it (releasing partially the new visual).
So I guess the [play_store_search_api.dart](https://github.com/larryaasen/upgrader/blob/master/lib/src/play_store_search_api.dart) will no longer work, since the classes searched on the page no longer exists.
This requires an update to the API.

Page from [waybackmachine](h

[2022-05-27 14:42] HectorHumanitcare commented on #165
Hi, I have been running the dart playstore_lookup.dart (id=com.google.android.apps.mapslite) with the following message:
[code]
I also tried it in my app (with this pubspec.lock):
[code]
With the same: `upgrader: PlayStoreResults.version exception: Bad state: No element`

For more context, I am from Spain so the url calls to the ES market, but I also tried adding &gl=US for the `dart playstore_loo

[2022-05-30 08:50] HectorHumanitcare commented on #165
I have seen that the problem is related to the issue #179, so the Google layout is different, so it doesn't find the information in the same place.

[2022-05-31 18:41] humanolaranja commented on #179
I'm facing the same issue

[2022-06-01 07:49] jvMori commented on #179
I also have this issue.

[2022-06-01 08:21] novas1r1 opened #181 "How to set custom id for flavors?"
Hello,
I'm having two different flavors and therefore different package names: "com.example.app" and "com.example.app.dev". Is it possible to set a custom package name so I can still test the dialog on my dev flavor?

Thanks in advance!
Verry

[2022-06-02 07:20] abcdenis18 commented on #179
This methos is no longer work, so u should try another way, create and setup a remote config using _firebase_remote_config_ package and put about your app new version, release note, etc as JSON param.

[2022-06-02 15:19] bouncydragon commented on #179
will there be any fix here sooner? or should we migrate to _firebase_remote_config_ for the meantime?

[2022-06-02 18:27] humanolaranja commented on #179
@larryaasen, are you guys looking for this?

[2022-06-03 07:28] appstute-sachin commented on #179
Same issue for me too, can't find the playstore version. Can we expect this issue to be resolved in latest plugin version?

[2022-06-03 12:01] larryaasen commented on #179
@JHBitencourt  Thanks for reporting this issue with so much detail. After looking at the update HTML for the Play Store page for an app, I don't yet see an easy way to parse the data. So far, I know that the version is inside a section that looks like this:
[code]
Deep inside that complex data structure is the release date, version, and other attributes specific to the app. The version is no longe

[2022-06-03 12:56] GitGud31 opened #182 "New update PopUp dialogue not showing!"
I'm having some trouble trying to show a pop up dialogue when a new version is available.

 As you can notice from the logs there are some exceptions happening *PlayStoreResults.version*, *PlayStoreResults.releaseNotes* and *PlayStoreResults.description* and I'm not sure why.

***Some Context*** This version 1.3.4 is already uploaded to the playstore internal testing environment yet the internal t

[2022-06-03 17:42] chirag-chopra commented on #37
Language name: Hindi
language code: hi
body: {app name} का एक नया संस्करण उपलब्ध है। संस्करण {{currentAppStoreVersion}} अब उपलब्ध है-आपके पास है {{currentInstalledVersion}}.
ignore button: नज़रअंदाज़ करना
later button: बाद में
update button: अभी अद्यतन करें
prompt: क्या आप इसे अभी अद्यतन करना चाहेंगे?
release notes: रिहाई टिप्पणी
title: अद्यतन ऐप?

[2022-06-03 18:51] humanolaranja commented on #179
@larryaasen I found this crawler that works with the new google play layout, but it's not dart code: https://stackoverflow.com/a/39790287

I'm also trying to find a way to parse this new data structure, I already forked the repo and doing my best here to find a solution

[2022-06-03 19:22] nivlaoh commented on #37
@larryaasen Based on what I read in this [w3 site](https://www.w3.org/International/articles/language-tags/), which refers to [IANA registry](https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry) for the language definitions.

Where scripts differ in writing, it goes by this definition:
<primary language subtag>-<script>

So on that note, I would correct my previous s

[2022-06-03 22:29] larryaasen commented on #182
The issue with the Play Store version is documented here: https://github.com/larryaasen/upgrader/issues/179

[2022-06-03 22:32] larryaasen commented on #181
I'm not sure, but you may be able to use `installPackageInfo` to get that to work.

[2022-06-03 22:37] humanolaranja commented on #179
I changed the `version` function and it's working now, I followed this pattern to filter the app version

- Find the `appName` inside the response
- Get all `AF_initDataCallback` content
- Find the `AF_initDataCallback` that contains the version using the `appName`
- Get the version by using the correct `AF_initDataCallback` and some data structure patterns that I found

I can try to fix the `desc

[2022-06-03 22:49] humanolaranja commented on #179
We need to update the `test_play_store_page1`, `test_play_store_page2` and `test_play_store_page3` snapshots to the new play store layout.
The tests in #183 will break until `description` and `releaseNotes` functions be fixed too.
I'm working with this items.

[2022-06-03 23:05] humanolaranja commented on #179
I updated the `test_play_store_page1` but I have no ideia how to update `test_play_store_page2` and `test_play_store_page3` snapshots. Could you help me @larryaasen?

[2022-06-07 01:09] larryaasen commented on #178
@tech-instacare @habibrosyad I am not able to reproduce this issue on Android 10 (API level 29). Some of the log you provided is missing. After the user taps the `UPDATE NOW` button, the log should display this line and some others. Can you show me that part of the log and any other upgrader log message?
[code]
Also, what Android version does this happen on?

[2022-06-07 23:07] hieugia3030 commented on #173
I am also facing this issue

[2022-06-08 11:20] larryaasen commented on #173
Does anyone have an upgrader log that shows this problem? If so, please attach it here.
https://github.com/larryaasen/upgrader#reporting-issues

[2022-06-08 13:08] humanolaranja commented on #179
Fixed this in #183, waiting for review and new release

[2022-06-09 07:02] jaskiratAtNexG opened #184 "showing "XmlParserException: </ expected at 10:3""
![xml_edited](https://user-images.githubusercontent.com/95342622/172786627-140f5c74-3781-4d7f-b8da-00f6ba232c99.jpg)

![error_edited](https://user-images.githubusercontent.com/95342622/172786639-afe74356-b491-464a-84c8-855031779d90.jpg)

upgrader:
    dependency: "direct main"
    description:
      name: upgrader
      url: "https://pub.dartlang.org"
    source: hosted
    version: "4.2.0"

Pleas

[2022-06-09 09:16] #184 closed

[2022-06-09 09:27] jaskiratAtNexG commented on #173
@larryaasen Attaching the upgrader log here.
I/flutter (25205): upgrader: instantiated.
I/flutter (25205): upgrader: build UpgradeAlert
I/flutter (25205): upgrader: languageCode: en
I/flutter (25205): upgrader: default operatingSystem: android RMX1921_11_F.06
I/flutter (25205): upgrader: operatingSystem: android
I/flutter (25205): upgrader: platform: TargetPlatform.android
I/flutter (25205): upgra

[2022-06-09 10:49] jaskiratAtNexG commented on #169
how to enable force upgrade??

[2022-06-09 12:12] larryaasen commented on #179
I just published version [4.2.1-alpha.1](https://pub.dev/packages/upgrader/versions/4.2.1-alpha.1) on pub.dev with a fix for this thanks to @humanolaranja. Please test out this pre-release version ASAP and provide feedback. After it has been determined that this solution works well, I will release a normal version.

[2022-06-09 12:13] larryaasen commented on #182
I just published version [4.2.1-alpha.1](https://pub.dev/packages/upgrader/versions/4.2.1-alpha.1) on pub.dev with a fix for this thanks to @humanolaranja. Please test out this pre-release version ASAP and provide feedback. After it has been determined that this solution works well, I will release a normal version.

[2022-06-09 14:27] GitGud31 commented on #182
Hi @larryaasen,

I will push an update to the PlayStore and share the results. This is what I'm getting in the logs after updating to 4.2.1-alpha.1

[code]
Still get the previous Exception errors, and this is what I get in app (running flutter run --release):

![Screenshot_20220609-135426](https://user-images.githubusercontent.com/26169532/172870939-90c88d70-ef1c-4658-8035-27f5dd1e49a7.jpg)

[2022-06-09 17:56] humanolaranja commented on #179
I tested here and it worked very well in my application =D

[2022-06-10 00:09] larryaasen commented on #179
@humanolaranja I've noticed that these exceptions are logged now for each access to the Play Store, even when it returns the version correctly. You can see them when you run this from the command line:
[code]
Output:
[code]
I am going to remove those exception messages to avoid confusion.

[2022-06-10 00:18] humanolaranja commented on #179
@larryaasen sure, it makes sense, I changed the log message but I agree that it can be a little confusing. For me it's important just to keep the exception and throw both of them if we have an error in the redesigned version, so we can have a better stack trace in case of error. Another suggestion is to use the redesigned version before the old one, since the new layout is already released as defa

[2022-06-10 05:28] srihari9n commented on #182
@larryaasen  I am getting these errors on 4.2.1-aplha.1

I/flutter ( 6585): upgrader: instantiated.
I/flutter ( 6585): upgrader: PlayStoreResults.version exception, trying redesignedVersion: Bad state: No element
I/flutter ( 6585): upgrader: PlayStoreResults.releaseNotes exception, trying redesignedVersion: RangeError (index): Invalid value: Valid value range is empty: 0
I/flutter ( 6585): upgrade

[2022-06-10 06:54] moulibheemaneti commented on #37
Language name: Telugu
language code: te
body: {{appName}} యాప్ యొక్క కొత్త వెర్షన్ అందుబాటులో ఉంది. వెర్షన్ {{currentAppStoreVersion}} అందుబాటులో ఉంది కానీ మీ దగ్గర {{currentInstalledVersion}} ఉంది.
ignore button: తిరస్కరించండి
later button: తరువాత
update button: అప్‌డేట్‌ చేయండి
prompt: మీరు దీన్ని ఇప్పుడే అప్‌డేట్ చేయాలనుకుంటున్నారా?
release notes: విడుదల గమనికలు
title: యాప్‌ని అప్‌డేట్‌  చేయాలా

[2022-06-10 11:12] larryaasen commented on #182
@srihari9n Can you include the entire upgrader log?

[2022-06-10 11:17] larryaasen commented on #179
I just published version [4.2.1-alpha.2](https://pub.dev/packages/upgrader/versions/4.2.1-alpha.2) to allow for more testing, and removed the noisy exception messages from the log. Please test this new version.

[2022-06-10 11:17] srihari9n commented on #182
I/flutter ( 5079): upgrader: instantiated.
I/flutter ( 5079): upgrader: PlayStoreResults.version exception, trying redesignedVersion: Bad state: No element
I/flutter ( 5079): upgrader: PlayStoreResults.releaseNotes exception, trying redesignedVersion: RangeError (index): Invalid value: Valid value range is empty: 0
I/flutter ( 5079): upgrader: PlayStoreResults.description exception, trying redesig

[2022-06-10 11:18] larryaasen commented on #182
I just published version [4.2.1-alpha.2](https://pub.dev/packages/upgrader/versions/4.2.1-alpha.2) to allow for more testing, and removed the noisy exception messages from the log. Please test this new version.

[2022-06-10 11:25] srihari9n commented on #182
Okay @larryaasen I checked 4.2.1-alpha.2 and it works perfectly now. Thanks. Did you change any functional things in this version? Just curious, Since I literally changed  just the version in yaml and nothing else.

[2022-06-10 11:36] larryaasen commented on #182
I did not change the functionality in the 4.2.1-alpha.2 version, but just removed the noisy exception logs. The `upgrader: instantiated.` is going to remain for a little while longer due to the new architecture released in 4.0.0 that may be still confusing to some developers. It should be removed soon.

[2022-06-10 11:42] srihari9n commented on #182
@larryaasen  can you consider adding a flag to suppress and un-suppress the logs for future. I don't mind the logs now and I understand the reason. It's just that in future if something goes off, I can turn on the logs to get a better point of view. Just a suggestion of course, you can ignore my suggestion.

[2022-06-10 12:04] larryaasen commented on #182
@srihari9n I can do that. Just curious and for the benefit of other developers, what is the impact of having that log statement?

[2022-06-10 12:06] srihari9n commented on #182
@larryaasen  call it a trust issue using a few pub.dev packages where the dev created the package in such a way that it would catch the errors and exceptions but don't log anything, so it would silently stop working. So if there is an option to log or not log and it is off by default it would help in those cases.

[2022-06-10 18:20] GitGud31 commented on #182
@larryaasen, I upgraded to 4.2.1-alpha.2 and it worked for me too

[2022-06-11 05:49] TomerPacific commented on #37
Hi @larryaasen , wanting to contribute by adding the translation for the **_Hebrew_** language.

Language name: Hebrew
language code: he
body:  גרסה חדשה של {{appName}} קיימת! גרסה {{currentAppStoreVersion}} ניתנת להורדה-יש לך גרסה {{currentInstalledVersion}.
ignore button: התעלם
later button: אחר-כך
update button: עדכן
prompt: האם תרצה לעדכן עכשיו?
release notes: חדש בגרסה
title: לעדכן יישומון?

[2022-06-12 13:47] larryaasen commented on #182
Version [4.2.1](https://pub.dev/packages/upgrader) has been released to this fix this issue.

[2022-06-12 13:47] #182 closed

[2022-06-12 13:47] larryaasen commented on #179
Version [4.2.1](https://pub.dev/packages/upgrader) has been released to this fix this issue.

[2022-06-12 13:47] #179 closed

[2022-06-14 04:56] azharxes commented on #178
Fixed it in this, check it out @larryaasen

https://github.com/larryaasen/upgrader/pull/185

[2022-06-14 04:56] azharxes commented on #173
Fixed it in this.

https://github.com/larryaasen/upgrader/pull/185

[2022-06-14 11:19] larryaasen commented on #178
This has been fixed and released in version `4.2.2-alpha.1`. Please try it out.

[2022-06-14 11:19] #178 closed

[2022-06-14 11:20] #173 closed

[2022-06-16 02:44] nabilfm opened #187 "Upgrader not opening Play store app"
Hi, I'm facing this case. When the alert's shown and click "update now", it doesn't open the play store app. Open in-app browser only. Tried on the android emulator & my phone.

I expect to open the Play store app

<img width="403" alt="image" src="https://user-images.githubusercontent.com/4882975/173978969-3ec653fe-f46a-4d66-92cb-3724795a0ba4.png">

[code]
upgrader version number from the pubspec

[2022-06-16 02:50] nabilfm commented on #187
Sorry, didn't realize it's already submitted on this https://github.com/larryaasen/upgrader/issues/178

[2022-06-16 02:50] #187 closed

[2022-06-19 15:45] Karjan1 commented on #164
Yes, after upgrading to new version and using the param you provided. All works fine. Sorry for the delay

[2022-06-20 05:00] MuraliThangavel commented on #179
in future, if they updated [play_store_search_api.dart](https://github.com/larryaasen/upgrader/blob/master/lib/src/play_store_search_api.dart) , then we need to again update this upgrader sdk ?

[2022-06-22 18:57] nholmvio opened #188 "Google play rejection - anyone else?"
Hi -  I just got a Google play rejection for metadata call out as:

We found an issue in the following area(s):
 Full description (en_US): “[:mav: 2.1.11]”

I've been doing many releases with the description as is and using the upgrader package *with* success up until yesterday.

Just posting this to see if anyone else is encountering an issue currently for Android that maybe the [mav] tag is thro

[2022-06-23 15:47] nholmvio commented on #188
Just an update - after removing the [mav] tag....the release was approved on re-review with no other change...

So, i'm curious to hear as others do their Android releases going out the door around now!
Thanks

[2022-06-24 00:04] larryaasen commented on #187
I just released the 4.2.2 update to the [ugprader package on pub.dev](https://pub.dev/packages/upgrader/versions/4.2.2) to fix this issue.

[2022-06-24 00:05] larryaasen commented on #178
I just released the 4.2.2 update to the [ugprader package on pub.dev](https://pub.dev/packages/upgrader/versions/4.2.2) to fix this issue.

[2022-06-24 18:47] michael-woolsey opened #189 "Upgrader - version supporting package"
Good afternoon,

I just noticed that I cannot upgrade my 3rd party package version to `version: ^3.0.2` as it it locked to an older version in the upgrader package.

`Because xyz depends on upgrader 4.2.2 which depends on version ^2.0.0, version ^2.0.0 is required.`

Hopefully this is something that can be updated as it would be nice to update my other packages.

Thank you,
Michael

[2022-06-24 18:50] michael-woolsey commented on #189
It also looks like `device_info_plus: ^4.0.0` is also being blocked by this version of Upgrader.

`Because xyz depends on upgrader 4.2.2 which depends on device_info_plus ^3.2.1, device_info_plus ^3.2.1 is required.`

[2022-06-25 04:24] ahndwon commented on #188
Also happened to me.

[2022-06-26 13:48] larryaasen commented on #189
@michael-woolsey  I just published an update to this package, [version 4.3.0](https://pub.dev/packages/upgrader/changelog#430), with a fix for this to support `device_info_plus <4.1.0`. Please try it out.

[2022-06-26 13:51] larryaasen commented on #189
I still need to resolve the package `version` issue.

[2022-06-26 21:14] larryaasen commented on #189
@michael-woolsey I just published an update to this package, [version 4.4.0](https://pub.dev/packages/upgrader/changelog#440), with a fix for this to support version <3.1.0. Please try it out.

[2022-06-28 12:31] michael-woolsey commented on #189
Good morning @larryaasen, sorry for the delayed response.  These changes allow my other 3rd party packages to be updated, thank you!

[2022-06-28 12:31] #189 closed

[2022-07-01 02:20] althurzard commented on #188
Same here

[2022-07-01 18:59] nholmvio commented on #188
anyone try contacting Google yet on this?

[2022-07-02 10:00] developerflutter opened #190 "Appstore not loading after Update button pressed"
await launchUrl(Uri.parse(_appStoreListingURL!),
   mode: LaunchMode.externalNonBrowserApplication);

is not working.

Logs:

flutter: FormatException: Unexpected character (at character 1)
You need an authentication code to access this API endpoint, as per https:/...

[2022-07-03 22:56] larryaasen commented on #190
@developerflutter Hi. Thanks for the report. Can you include the entire upgrader log?

[2022-07-08 13:45] minoesteban opened #192 "What happens if we remove the mav tag from the description fields?"
As far as I understood, if this tag is not added to the description fields, an update is forced every time a new version is found in each store (Play / App)

So, when we add this tag in the description fields, this "always up to date" strategy gets overriden by whatever version is indicated in the tag

Question is, what happens if we remove that tag from the description fields? The upgrader goes b

[2022-07-09 08:41] Jokay03J opened #193 "Add Github release support"
Hello,
Can you add github release attachement support when new release is available please?

[2022-07-09 16:52] joymyr commented on #188
Just got the same rejection. And looking at the metadata policy https://support.google.com/googleplay/android-developer/answer/9898842/, it's clear that this tag doesn't comply. Anyway I created a ticket describing why we was using this tag, and asked them if they could suggest another way of adding the version to the description.

[2022-07-12 08:57] AhmadAbuRjeila commented on #158
@larryaasen Thanks a lot. You can translate it to 'تفاصيل الاصدار'

[2022-07-15 14:44] humanolaranja opened #195 "Support to different release notes languages"
Today we can provide the country code that makes ios release notes be translated if it have translation in the store of this country. But in Android we don't have this translation available, it's always the english one. I see that google play have the `&hl=:country` param to specify the country, so it's possible to use this param to get release notes translations. I see that the google play parser

[2022-07-15 14:52] humanolaranja commented on #195
If you agree with this @larryaasen you can assign this issue to me and I develop this feature and open a PR

[2022-07-18 01:13] larryaasen commented on #195
@humanolaranja Feel free to open a PR for this and I will review it. Thanks.

[2022-07-18 05:41] Recker4244 commented on #188
have any of you tried different packages? Does it do things differently? because this package doesn't seem to work unless I add that tag to my description. It returns the latest version as null

[2022-07-18 11:26] nholmvio commented on #188
@joymyr  Thanks for the additional info and creating the ticket!  Any update back from them?

@Recker4244  I have not so far.  My understanding is that with the tag not there, it's just not enforcing any minimum version nor can we currently anymore on Android.  IOS appears to still be fine.  I'll have to confirm this in my next test cycle

@larryaasen   - Any thoughts on how to address for Android

[2022-07-18 11:34] larryaasen commented on #147
@mohammad-alnimer1 Is this still an issue?

[2022-07-18 11:51] larryaasen commented on #188
I'm interested in what @joymyr hears from Google about this, as the lack of Play Store features has forced us to look for hacky solutions like this.

@Recker4244 This package should work fine with or without the tag in the description. Perhaps you can open up a new [issue here](https://github.com/larryaasen/upgrader/issues/new/choose) and we can take a look at your problem.

I don't think #179 is

[2022-07-18 14:26] joymyr commented on #188
I haven't received any response from Google yet. I asked if another format would be accepted. But a human readable format would probably be accepted, as it wouldn't break the policy about non-descriptive information. It would be less optimal to parse though.

[2022-07-18 21:53] nholmvio commented on #188
@joymyr @larryaasen   Larry - what's your thoughts on just a full text 'Minimum App Version x.x.x' at the bottom that is full spelled out to get Android back up?

[2022-07-19 02:37] larryaasen commented on #188
I guess it is possible. The [current regex](https://github.com/larryaasen/upgrader/blob/6ae86349aa6629db0f9a5ebb67c5cd50c87eea54/lib/src/play_store_search_api.dart#L100) is:
[code]
We just need a new valid regex and we can try.

[2022-07-20 11:39] themaaz32 opened #197 "Add hindi (hi) and marathi (mr) language support for localization."

[2022-07-20 14:56] larryaasen commented on #192
Removing the mav tag from the description field will still allow Upgrader to recommend upgrading when a newer version is found. Using the mav tag just prevents users from running older versions of the app without upgrading.

[2022-07-20 23:06] ekerik220 commented on #188
What does the minAppVersion field of Upgrader do? If we supply this do we not need the tag in the description?

[2022-07-20 23:47] larryaasen commented on #188
[code]
The store tag overrides any value supplied in the minAppVersion parameter.

[2022-07-21 07:35] srihari9n opened #198 "QUESTION: What happens when the update is partially rolled out in Playstore and Appstore?"
I don't have an issue to report, just need a question answering. If I rollout  an update to lets say 50% of my app users from both stores. What will the users who did not receive an update see from upgrader? Will there be a differentiation?  Or everyone sees the update dialog?

[2022-07-26 08:24] Fatima995 opened #199 "flutter: upgrader.ITunesResults.version: RangeError (index): Invalid value: Valid value range is empty: 0"

[2022-07-26 08:25] Fatima995 opened #200 "flutter: upgrader.ITunesResults.version: RangeError (index): Invalid value: Valid value range is empty: 0 .. this error show just when I run project on mac"

[2022-07-26 08:26] Fatima995 commented on #200
flutter: upgrader.ITunesResults.version: RangeError (index): Invalid value: Valid value range is empty: 0
this error shows me when I run a project on a mac.

[2022-07-26 11:28] #199 closed

[2022-07-28 07:22] Kishan-Somaiya opened #201 "PlayStoreResults.redesignedVersion exception: FormatException: Not a properly formatted version string. And also, will it work for updates with VersionCode Changes or do have to update Version Name as well ?"
To better assist in analyzing issues, please include all of the upgrader log, which should look something like this:
[code]
Also, please include the upgrader version number from the pubspec.lock file, which should look something like this:
[code]
--> Also Latest Version From Play Store is Missing. My App is in Internal Testing but it is Available on Play Store

![image](https://user-images.githubu

[2022-07-28 11:38] larryaasen commented on #201
I see that Upgrader is instantiated more than once which is not a good idea. Can you post the code here where you use Upgrader()?
Also, I see that the Play Store results were not found. I ran this in a terminal window:
[code]
Is you app published on the Play Store?

[2022-07-28 12:17] Kishan-Somaiya commented on #201
Yes it's available on Play Store but it's only available in my Country for now. @larryaasen Is that an issue ?

![image](https://user-images.githubusercontent.com/62096591/181502912-49e1180e-163a-420b-bf42-32861b74870f.png)

[2022-07-31 18:19] alhamri opened #202 "buttonTitleLater in Arabic language doesn't look good!!"
String 'Later' doesn't look good in Arabic language 'لاحقاً' , in both UpgradeDialogStyle.cupertino and UpgradeDialogStyle.material.

upgrader log:
[code]
upgrader version number from the pubspec.lock file:
[code]

![later2](https://user-images.githubusercontent.com/56443760/182039932-abcdeb8b-c1f0-49aa-b40a-6762f874e135.PNG)
![later1](https://user-images.githubusercontent.com/56443760/182039935-b

[2022-07-31 18:52] alhamri commented on #202
I suggest to remove the two line at the left top of the word 'لاحقاً' what we called in Arabic 'Tanween' 'التنوين'. In Arabic it's not necessary to write them espicially when there is nothing else to said (for example at the end of a sentence). I think flutter engine decode these two lines (characters) differently and that is what rise the issue.
I made a little change in your code (in class Upgra

[2022-08-01 00:27] larryaasen commented on #201
@Kishan-Somaiya  It looks like we don't support other countries with the Android Play Store. We do support all countries on iOS.

Can you share a link to your app in the Play Store?

[2022-08-01 00:36] larryaasen commented on #158
Thank you. I've updated the code with this phrase and will release an update with this soon.

[2022-08-01 00:37] #158 closed

[2022-08-01 00:38] larryaasen commented on #158
Code change: ddc9ec6d902ccedfb19f40688e53ebd8976689a7

[2022-08-01 00:52] larryaasen commented on #202
@alhamri This is very interesting and I would like to get this fixed correctly. I am having trouble understand your proposed changed. Would you be willing to open an PR to help me better understand?

[2022-08-01 04:44] Kishan-Somaiya commented on #201
Thanks for your reply @larryaasen. Does that mean this package won't work for me ? Here's the [link](https://play.google.com/store/apps/details?id=com.searchmi.da)

[2022-08-01 12:39] larryaasen commented on #201
@Kishan-Somaiya What is the country code?

[2022-08-01 12:40] larryaasen commented on #201
I think I found it: https://play.google.com/store/apps/details?id=com.searchmi.da&gl=IN

[2022-08-01 14:35] alhamri commented on #202
PR done:
https://github.com/larryaasen/upgrader/pull/203#issue-1324527873

[2022-08-01 22:52] innerk commented on #147
hi @larryaasen  yes it's still an issue on google play,
the button says open and not upgrade

[2022-08-02 01:06] innerk commented on #147
@larryaasen already found the answer [here](https://stackoverflow.com/questions/32086791/google-play-store-showing-open-button-instead-of-update-button)

[2022-08-02 12:00] larryaasen commented on #202
The PR https://github.com/larryaasen/upgrader/pull/203 has been merged so this has been resolved.

[2022-08-02 12:00] #202 closed

[2022-08-03 11:58] larryaasen commented on #147
It seems that the Play Store button does not alway change from Open to Update immediately as we would expect. Maybe Google can fix that.

[2022-08-03 11:58] #147 closed

[2022-08-03 12:01] larryaasen commented on #190
@developerflutter Is this still an issue?

[2022-08-03 12:15] Perveev commented on #190
Also faced this problem

[2022-08-03 12:32] larryaasen commented on #190
@Perveev Can you include the entire upgrader log?

[2022-08-03 12:35] MaxiStefan commented on #154
Hi,

@larryaasen So is it correct that upgrader only works when the application is released on the Production track? I have so far tried internal app testing and closed testing and the API does not seem to be able to see new versions available, despite the testing page showing the Update Button.

Additionally, does upgrader then work on TestFlight or is it the same thing.

Thanks in advance!

[2022-08-03 13:01] Perveev commented on #190
upgrader: instantiated.
 upgrader: build UpgradeAlert
 upgrader: languageCode: uk
 upgrader: default operatingSystem: ios Version 15.5 (Build 19F70)
 upgrader: operatingSystem: ios
 upgrader: platform: TargetPlatform.iOS
 upgrader: isAndroid: false, isIOS: true, isLinux: false, isMacOS: false, isWindows: false, isFuchsia: false, isWeb: false
 upgrader: package info packageName: ua.com.baly4docs
 u

[2022-08-04 03:57] Kishan-Somaiya commented on #201
Hey @larryaasen can you confirm if Upgrader will work or Do I have to look for another alternatives ?

And to test it in release env, I've to upload it to Play store right ?

[2022-08-04 04:00] Kishan-Somaiya commented on #197
hey @themaaz32 can you confirm if Upgrader is working for you if your project is based in India ?

[2022-08-04 11:39] larryaasen commented on #201
I am looking at this issue now, but I don't have a fix yet.

[2022-08-05 05:11] Kishan-Somaiya commented on #201
Okay, waiting for a fix and thanks for all your support @larryaasen, appreciated.

[2022-08-08 06:45] SteveCruise commented on #117
Want this feature, too

[2022-08-08 11:28] joymyr commented on #188
I updated the app description with this tag at the bottom, and it was accepted by Goggle Play:

I also made a PR as a suggested change to parse that tag:
https://github.com/larryaasen/upgrader/pull/204

I also updated the tests, and it seems ok. But I'm not sure how Appcast works, or if it could mess up something there. Also, I'm not sure if it should be changed for App Store as well to match.

[2022-08-08 14:59] itapai opened #206 "How to automatically install a windows update?"
Basically, title.

After retrieving the latest update (from appcast), is there a way to automatically install it? Or should I get the download url and proceed manually from there?

Thanks

[2022-08-09 09:53] Kishan-Somaiya commented on #201
Hey @larryaasen did you find a solution ? I was thinking if we can use the supplied Country code ? Like in this example https://play.google.com/store/apps/details?id=com.searchmi.da&gl=IN, we pass IN and then it use that in URL, default being US. Will this work ?